{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>{{ team.name }} <small>Roosters beheren</small></h2>
        </div>
        <div class="col-sm-12">
          <a href="{% url 'teampage' team.pk %}" class="backlink">< Terug naar de overzichtspagina</a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          {% if tables.all %}
            Pas hier de roosters van dit team aan.
          {% else %}
            Voeg hier een rooster toe.
          {% endif %}
          <br/>
          <small>Er is maar één rooster per team beschikbaar. Mocht je een extra rooster nodig hebben, neem dan contact op met de websitebeheerder (<a href="mailto:website@rehobothkerkwoerden.nl">website@rehobothkerkwoerden.nl</a>).</small>
        </div>

        <div class="col-sm-12">
          <!-- Error handling messages -->
          {% include "./messages.html" %}
        </div>


        {% if not tables.all %}
        <div class="col-sm-12">
          <h3>Nieuw rooster</h3>
          <form method="post" action="{% url 'teampage-control-timetables-add' %}" class="team-add-table form-horizontal">
            {% csrf_token %}

            <input type="hidden" name="team" value="{{ team.pk }}" />

            <div class="form-group">
              <label class="col-sm-2 control-label">Titel</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="title" required="required" placeholder="Bijv. {{ team.name|capfirst }}rooster"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Beschrijving</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="description" placeholder="Een beschrijving van waar dit rooster precies voor zal dienen"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Kleur</label>
              <div class="col-sm-10">
                <input type="text" name="color" value="#{{ random_color }}" class="form-control form-color-minimal jscolor"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-10">
                <label><input type="checkbox" name="incalendar" checked/> In kalender</label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="reset" class="btn btn-default black">
                  Opnieuw
                </button>
                <button type="submit" class="btn btn-default cyan">
                  Toevoegen
                </button>
              </div>
            </div>
          </form>
        </div>
        {% endif %}


        <div class="col-sm-12">
          <h3>Rooster overzicht</h3>

          <div class="scroll-div">
            <table id="usertable" class="table table-hover">
              <thead>
                <th><!-- kleur --></th>
                <th>Titel</th>
                <th>Beschrijving</th>
                <th>In kalender</th>
                <th></th>
              </thead>
              <tbody>
                {% for t in tables.all %}
                  <tr>
                    <td>
                      <div class="team-table-color" style="background-color: #{{ t.color }};"></div>
                    </td>
                    <td>
                      <a href="{% url 'timetable-detail-page' t.pk %}" title="{{ t.title }} bekijken" class="team-userlink">{{ t.title }}</a>
                    </td>
                    <td><div class="duty-comments">{{ t.description }}</div></td>
                    <td>
                      {% if t.incalendar %}
                        <i class="fa fa-check team-tablecalender"></i>
                      {% endif %}
                    </td>
                    <td>
                      <span class="table-tools">
                        <a href="{% url 'teampage-control-timetables-edit' t.pk %}" title="Bewerken">
                          <i class="fa fa-pencil-square-o fa-fw"></i></a>
                        <a href="{% url 'teampage-control-timetables-delete' t.pk %}" class="confirm-dialog-button" data-message="Weet je zeker dat je dit rooster wilt verwijderen?" title="Verwijderen">
                          <i class="fa fa-times fa-fw"></i>
                        </a>
                      </span>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
  </section>

  {% include "./confirmationmodal.html" %}
{% endblock %}

{% block scripts %}
  <script>
    window.teamPage();
  </script>
{% endblock %}
