{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>{{ table.team.name }} <small>Algemene informatie</small></h2>
        </div>
        <div class="col-sm-12">
          <a href="{% url 'teampage' team.pk %}" class="backlink">< Terug naar de overzichtspagina</a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3>Informatie bewerken</h3>

          <div class="col-sm-12">
            <!-- Error handling messages -->
            {% include "./messages.html" %}
          </div>


          <form method="post" action="{% url 'teampage-control-edit-save' team.pk %}" class="team-add-table form-horizontal">
            {% csrf_token %}
            {{ form.media }}

            <div class="form-group">
              <label class="col-sm-2 control-label">Naam</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="name" required="required" value="{{ team.name }}" placeholder="De naam van dit team" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">E-mailadres</label>
              <div class="col-sm-10">
                <input type="email" name="email" value="{{ team.email }}" class="form-control" placeholder="Het algemene e-mailadres waarop dit team te bereiken is" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Beschrijving</label>
              <div class="col-sm-10">
                {{ form.description }}
                {# <textarea class="form-control" name="description" placeholder="Een beschrijving van de taken die dit team uitvoert">{{ team.description }}</textarea> #}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Aanvulling op de herinneringsmail</label>
              <div class="col-sm-10">
                {{ form.remindermail }}
                {# <textarea class="form-control" name="remindermail" placeholder="Een extra aanvulling op de e-mails welke elke week als herinnering aan de taak worden verstuurd">{{ team.remindermail }}</textarea> #}
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <a href="{% url 'teampage' team.pk %}" class="btn btn-default black">Annuleren</a>
                <button type="submit" class="btn btn-default cyan">
                  Opslaan
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
  <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
  <script>
    window.teamPage();
  </script>
{% endblock %}
