{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>{{ team.name }} <small>Overzicht</small></h2>
        </div>
      </div>

      {% if teammember or teammember_family %}
        <div class="row settings-container">
          <div class="col-sm-12">
            <a href="javascript:void(0)" id="settings-form-toggle">
              <i class="fa fa-cog" aria-hidden="true"></i> Mijn instellingen
            </a>

            <div id="settings-form">
              <form method="post" action="{% url 'teampage-settings-save' team.pk %}" class="form-horizontal">
              {% csrf_token %}

              {% if teammember %}
                <div class="form-group">
                  <div class="col-sm-12 checkbox">
                    <label title="Dit gebeurt over het algemeen in de week voorafgaand op een vast tijdstip.">
                      <input type="checkbox" name="reminder" class="service-second-trigger" {% if teammember.get_mail %}checked{% endif %}/>
                      E-mailherinneringen ontvangen
                      {% if teammember_family %}
                        (persoonlijk)
                      {% endif %}
                    </label>
                  </div>
                </div>
              {% endif %}

              {% if teammember_family %}
                <div class="form-group">
                  <div class="col-sm-12 checkbox">
                    <label title="Dit gebeurt over het algemeen in de week voorafgaand op een vast tijdstip.">
                      <input type="checkbox" name="reminder-family" class="service-second-trigger" {% if teammember_family.get_mail %}checked{% endif %}/>
                      E-mailherinneringen ontvangen (namens de familie)
                    </label>
                  </div>
                </div>
              {% endif %}

              <div class="form-group">
                <div class="col-sm-12 ">
                  <button type="submit" class="btn btn-default cyan">
                    Opslaan
                  </button>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="row">

        <div class="col-sm-12">
          <!-- Error handling messages -->
          {% include "./messages.html" %}
        </div>

        <div class="col-sm-12">
          <h3>Algemeen
            {% if is_admin or perms.agenda.change_team %}
              <small>
                <a href="{% url 'teampage-control-edit' team.pk %}" title="Algemene informatie bewerken">Bewerken</a>
              </small>
            {% endif %}
          </h3>
          {% if team.email or is_admin %}
            <p>
              <i class="fa fa-envelope-o" aria-hidden="true" style="font-size: 12pt; margin-right: 5px;"></i>
              {% if not team.email %}
                Voeg een algemeen e-mailadres toe
              {% else %}
                <a href="mailto:{{ team.email }}" id="team-form-address">{{ team.email }}</a>
              {% endif %}
            </p>
          {% endif %}
          {% if team.description %}
            <p class="team-description">{{ team.description }}</p>
          {% endif %}
        </div>

        {% if tables.all or is_admin or perms.agenda.change_team %}
            <div class="col-sm-12">
              <h3>Roosters
                {% if is_admin or perms.agenda.change_team %}
                  <small>
                    <a href="{% url 'teampage-control-timetables' team.pk %}" title="Roosters toevoegen/verwijderen">Beheren</a>
                  </small>
                {% endif %}
              </h3>

              <ul class="teampage-tables">
                {% for t in tables.all %}
                  <li>
                    - <a href="{% url 'timetable-detail-page' t.pk %}" title="Bekijk rooster">{{ t.title }}</a>
                  </li>
                {% endfor %}
              </ul>
              <br/>
            </div>
        {% endif %}

        <div class="col-sm-12">
          <h3>Teamleden
            {% if is_admin or perms.agenda.change_team %}
              <small>
                <a href="{% url 'teampage-control-members' team.pk %}" title="Leden toevoegen/verwijderen">Beheren</a>
              </small>
            {% endif %}
          </h3>
          {% if members.all %}
            <div class="zoomtools">
              <i class="fa fa-search-minus zoomout" aria-hidden="true" title="Verkleinen"></i>
              <i class="fa fa-search-plus zoomin" aria-hidden="true" title="Vergroten"></i>
            </div>
            <br/>

            {% for m in members.all %}
              <div class="team-usersquare team-role-{{ m.role.short_name }}">
                {% if m.family %}
                  <a href="{% url 'family-detail-page' m.family.pk %}" title="{{ m.family }} ({{ m.role }})" class="team-userlink">
                    <div class="team-userimage-div">
                      {% if m.family.thumbnail %}
                        <img src="{{ m.family.thumbnail.url }}" title="Foto van {{ m.name }}" class="team-userimage"/>
                      {% elif m.family.photo %}
                        <img src="{{ m.family.photo.url }}" title="Foto van {{ m.name }}" class="team-userimage"/>
                      {% else %}
                        <img src="{% static 'resources/images/default_family_pf.png' %}" class="team-userimage"/>
                      {% endif %}
                    </div>

                    <div class="team-userinfo">
                      {{ m.name }}
                    </div>

                    <div class="team-userrole" title="{% if m.is_admin %}Deze persoon heeft beheerrechten over dit team{% endif %}">
                      {{ m.role|capfirst }} {% if m.is_admin %}*{% endif %}
                    </div>
                  </a>
                {% else %}
                  <a href="{% url 'profile-detail-page' m.profile.pk %}" title="{{ m.profile }} ({{ m.role }})" class="team-userlink">
                    <div class="team-userimage-div">
                      {% if m.profile.photo %}
                        <img src="{{ m.profile.photo.url }}" title="Foto van {{ m.profile.name }}" class="team-userimage"/>
                      {% else %}
                        <img src="{% static 'resources/images/default_pf.png' %}" class="team-userimage"/>
                      {% endif %}
                    </div>

                    <div class="team-userinfo">
                      {{ m.profile.first_name }}
                    </div>

                    <div class="team-userrole" title="{% if m.is_admin %}Dit lid heeft beheerrechten over dit team{% endif %}">
                      {{ m.role|capfirst }} {% if m.is_admin %}*{% endif %}
                    </div>
                  </a>
                {% endif %}
              </div>
            {% endfor %}
            <div style="font-size: 65%; margin-left: 20px; margin-bottom: 30px;">* Dit lid is beheerder van deze teampagina</div>
          {% else %}
            Geen leden gevonden.
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script>
    window.teamPage();
  </script>
{% endblock %}
