{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>{{ team.name }} <small>Leden beheren</small></h2>
        </div>
        <div class="col-sm-12">
          <a href="{% url 'teampage-control-members' team.pk %}" class="backlink">< Terug naar de beheerpagina</a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3>Lid bewerken</h3>
          <form method="post" action="{% url 'teampage-control-members-edit-save' member.pk %}" class="team-add-user">
            {% csrf_token %}

            <input type="text" class="form-control" value="{{ member.profile.name }}" readonly />

            <div class="form-group">
              <select name="role" class="form-control" title="Aan de functie zijn geen rechten verbonden.">
                {% for r in roles %}
                  <option value="{{ r.pk }}" {% if r.short_name == member.role.short_name %}selected="selected"{% endif %}>{{ r|capfirst }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <div class="checkbox">
                <label title="Geef dit teamlid de rechten om dit team te kunnen beheren en wijzigen.">
                  <input type="checkbox" name="is_admin" {% if member.is_admin %}checked{% endif %}/>
                  Beheerrechten
                </label>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-default cyan">
                Opslaan
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script>
    window.teamPage();
  </script>
{% endblock %}
