{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>{{ team.name }} <small>Overzicht</small></h2>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-12">
          <!-- Error handling messages -->
          {% include "./messages.html" %}
        </div>

        <div class="col-sm-12">
          <h3>Algemeen
            {% if is_admin or perms.agenda.change_team %}
              <small>
                <a href="{% url 'teampage-control-edit' team.pk %}" title="Algemene informatie bewerken">Bewerken</a>
              </small>
            {% endif %}
          </h3>
          {% if team.email or is_admin %}
            <p>
              <i class="fa fa-envelope-o" aria-hidden="true" style="font-size: 12pt; margin-right: 5px;"></i>
              {% if not team.email %}
                Voeg een algemeen e-mailadres toe
              {% else %}
                <a href="mailto:{{ team.email }}" id="team-form-address">{{ team.email }}</a>
              {% endif %}
            </p>
          {% endif %}
          <p>{{ team.description }}</p>
        </div>

        <div class="col-sm-12">
          <h3>Roosters
            {% if is_admin or perms.agenda.change_team %}
              <small>
                <a href="{% url 'teampage-control-timetables' team.pk %}" title="Roosters toevoegen/verwijderen">Beheren</a>
              </small>
            {% endif %}
          </h3>

          <ul class="teampage-tables">
            {% for t in tables.all %}
              <li>
                - <a href="{% url 'timetable-detail-page' t.pk %}" title="Bekijk rooster">{{ t.title }}</a>
              </li>
            {% endfor %}
          </ul>
          <br/>
        </div>

        <div class="col-sm-12">
          <h3>Teamleden
            {% if is_admin or perms.agenda.change_team %}
              <small>
                <a href="{% url 'teampage-control-members' team.pk %}" title="Leden toevoegen/verwijderen">Beheren</a>
              </small>
            {% endif %}
          </h3>
          <div class="zoomtools">
            <i class="fa fa-search-minus zoomout" aria-hidden="true" title="Verkleinen"></i>
            <i class="fa fa-search-plus zoomin" aria-hidden="true" title="Vergroten"></i>
          </div>
          <br/>

          {% for m in members.all %}
            <div class="team-usersquare team-role-{{ m.role.short_name }}">
              <a href="{% url 'profile-detail-page' m.profile.pk %}" title="{{ m.profile }} ({{ m.role }})" class="team-userlink">
                <div class="team-userimage-div">
                  {% if m.profile.photo %}
                    <img src="{{ m.profile.photo.url }}" title="Foto van {{ m.profile.name }}" class="team-userimage"/>
                  {% else %}
                    <img src="{% static 'resources/images/default_pf.png' %}" class="team-userimage"/>
                  {% endif %}
                </div>

                <div class="team-userinfo">
                  {{ m.profile.first_name }}
                </div>

                <div class="team-userrole" title="{% if m.is_admin %}Deze persoon heeft beheerrechten over dit team{% endif %}">
                  {{ m.role|capfirst }} {% if m.is_admin %}*{% endif %}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      <div style="font-size: 65%; margin-left: 20px; margin-bottom: 30px;">* Deze persoon is beheerder van deze teampagina</div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script>
    window.teamPage();
  </script>
{% endblock %}
