@import ../colors

section
  padding-bottom: 50px
  padding-top: 50px

  &.lighter
    background-color: lighten($dark-bg, 8%)
    color: $light-fg

  &.dark
    background-color: $dark-bg
    color: $light-fg

  &.darker
    background-color: darken($dark-bg, 3%)
    color: $light-fg
   
.to-dark-gradient
  position: absolute
  width: 100%
  left: 0px

  +linear-gradient(transparent, 0%, $dark-bg, 100%)

.to-light-gradient
  position: absolute
  width: 100%
  left: 0px

  +linear-gradient(transparent, 0%, $light-bg, 100%)

#sitemap
  background-color: lighten($dark-bg, 10%)

#drieslag
  .btn-circle
    margin-bottom: 20px
    text-align: center
    font-size: 18pt

$activiteiten-h: 250px
#activiteiten
  position: relative
  color: white
  min-height: $activiteiten-h

  #foto-1
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 496px
    background-image: url('/static/resources/images/contact-bg.jpg')
    background-position: center
    background-size: cover

    div
      bottom: 0px
      height: 267px
      background: linear-gradient(to bottom, transparent 0%, rgba(26, 50, 66, 0.66) 28%, #1A3242 100%)

  #activity-content
    margin-top: 100px

  #activity-blocks
    .row > div
      padding-bottom: 40px

.intro
  position: relative
  text-align: center

  .row:first-child
    height: 50%
    padding:
      bottom: 50px

  .row:nth-child(2)
    height: 50%
    color: black

  img
    float: none
    height: $activiteiten-h

#listen-in
  text-align: center
  margin-top: 100px
  height: $activiteiten-h
  display: none

  div.pulse-container
    margin-top: -50%

.intro-gradient
  +linear-gradient(transparent, 0%, #eee, 100%)

  position: absolute
  width: 100%
  height: 35%
  left: 0px
  top: 65%

#diensten
  .row#luisteren
    & > div
      text-align: center

#go-down
  margin-top: 50px

#jaarthema
  position: relative
  margin-bottom: 90px
  background-image: url('/static/resources/images/jaarthema-bg.jpg')
  background-position-x: right
  background-position-y: bottom
  background-size: cover

  a
    color: #1ea473