@import ../colors

#wrapper
  //min-height: 100%
  position: relative

footer
  background-color: lighten($dark-bg, 10%)
  color: $light-fg
  width: 100%

#copyright
  color: lighten($dark-bg, 30%)
  font-size: 12pt
  margin-bottom: 0px
  margin-top: 50px

a
  color: #39bd8c

.sitemap
  color: #83abc6

  li
    padding: 8px

    a
      padding: auto
      color: #83abc6
      cursor: pointer !important

      &:hover
        color: #afd9f5

#wrapper .navbar:not(.top-nav-collapse)
  a
    color: #fff
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.31), 1px 1px 0px rgba(0, 0, 0, 0.3)

  .navbar-nav a:hover
    color: #47b1fc

.navbar
  ul.nav
    .short-text
      display: none

    .long-text
      display: inline-block

    @media (max-width: 992px) and (min-width: 768px)
      .short-text
        display: inline-block

      .long-text
        display: none

#intro-carousel

  .carousel-control
    z-index: 1

    &.right
      background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0, 0, 0, 0.3) 100%)

    &.left
      background-image: linear-gradient(to right,rgba(0,0,0,.3) 0,rgba(0,0,0,0) 100%)

  .carousel-inner
    position: absolute
    top: 0
    height: 100%

    .item
      height: 100%
      background-size: cover
      background-position: center
