@import ../fonts
@import ../reset
@import layout
@import grayscale
@import ../common
@import frontpage

#content
  ol, ul
    padding-left: 40px
    margin-bottom: 8px

    li
      margin-bottom: 10px
      line-height: 1.7

  ol
    list-style-type: decimal

  ul
    list-style-type: disc

  table
    margin-bottom: 8px
    line-height: 1.4

    tr
      td
        padding: 4px 6px 4px 3px

  .border-bottom
    border-bottom: 1px solid black

  .border-bottom-double
    border-bottom: 3px double black

  .anbi
    width: 200px

.luisteren-i
  margin-left: 10px

#service-table
  table
    border: none

    tr
      background: none

      td, th
        border: none

        &.serviceInfoIcon
          padding-right: 0

      td
        border-top: 1px solid #ddd

      th
        border-bottom: 2px solid #ddd

      &.serviceHiddenItems
        cursor: auto
        display: none
        border: none

        td
          display: none !important
          padding: 0
          padding-left: 10px

          div
            margin: 0
            padding: 4px 6px 4px 9px

  .service-starttime
    width: 50px
    display: inline-block
    text-align: right


@media (max-width: 673px)
  #service-table
    table
      tr
        background: none
        cursor: pointer

        td, th
          &.serviceHideOnSmallScreen
            display: none

        &.serviceHiddenItems
          display: none
          border-left: 37px solid #CBD4DA
          background-color: #FAFAFA

          td
            display: table-cell !important