@import ../fonts
@import ../reset
@import grayscale
@import layout
@import ../common
@import frontpage
@import ../servicetable

#content
  ol, ul
    padding-left: 40px
    margin-bottom: 8px

    li
      margin-bottom: 10px
      line-height: 1.7

  ol
    list-style-type: decimal

  ul
    list-style-type: disc

  table
    margin-bottom: 8px
    line-height: 1.4

    tr
      td
        padding: 4px 6px 4px 3px

  .border-bottom
    border-bottom: 1px solid black

  .border-bottom-double
    border-bottom: 3px double black

  .anbi
    width: 200px

.luisteren-i
  margin-left: 10px

.popup
  display: none
  position: fixed
  top: 62px
  right: 21px
  background-color: #FFFCE8
  padding: 8px 10px
  border-radius: 6px
  border: 1px solid #CAC8BC
  max-width: 34%
  box-shadow: 3px 2px 11px -5px #000
  margin-left: 19px
  z-index: 10000

  .popup-close
    font-size: 12pt
    float: right
    color: #908B6C
    cursor: pointer

    &:hover
      color: #403D2A

  .popup-content
    padding: 4px 20px 5px 12px
    font-size: 13pt

@media (max-width: 767px)
  .popup
    max-width: 100%

h1
  font-family: Montserrat
  font-size: 45px
  font-weight: 700
  text-transform: uppercase
  margin-bottom: 50px

  &.with-subtitle
    margin-bottom: 10px