{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section id="addressbook">
    <style>
      table th a i.fa-sort{
        display: none;
      }
      table th a:hover i.fa-sort{
        display: inline-block;
      }

      .family-picture{
        width: 100%;
      }

      .family-list .family-list-details{
        display: none;
      }

      .favorite i{
        cursor: pointer;
      }

      .google-maps-link{
        font-size: 80%;
        margin-left: 5px;
      }

      .search-form label{
        margin: auto 8px;
        cursor: pointer;
      }
    </style>
    <div class="container-fluid">
      <div class="row">
        <h1>Adresboek</h1>

        {% if messages %}
          <!-- Status messages -->
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <!-- Addressbook menu/choices -->
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
            <li role="presentation" title="Add another splittable" {% if page == 'persons' %}class="active"{% endif %}><a href="{% url 'addressbook-detail' "persons" %}">Personen</a></li>
            <li role="presentation" title="Add another splittable" {% if page == 'families' %}class="active"{% endif %}><a href="{% url 'addressbook-detail' "families" %}">Families</a></li>
            <li role="presentation" title="Add another splittable" {% if page == 'search' %}class="active"{% endif %}><a href="{% url 'addressbook-detail' "search" %}">Zoeken</a></li>
            <li role="presentation" title="Add another splittable" {% if page == 'favorites' %}class="active"{% endif %}><a href="{% url 'addressbook-detail' "favorites" %}">Favorieten</a></li>
          </ul>

          <!-- Addressbook list -->
          {% if page == 'persons' %}
            <!-- Persons page -->
            {% render_table data %}

          {% elif page == 'families' %}
            <!-- Family page -->
            <div class="list-group family-list">
            {% for v in data %}
              <a href="javascript:void(0)" class="list-group-item family-list-item" data-family-id="{{ v.pk }}">{{ v }}</a>

              <div class="row family-list-details" data-listensTo="{{ v.pk }}">
                <div class="col-lg-8">
                  <!-- Some familymember + details -->
                  <table class="table table-hover">
                    <tr>
                      <th>Voornaam</th>
                      <th>Geboortedatum</th>
                      <th>Mobiele telefoon</th>
                      <th> </th>
                    </tr>
                    {% for w in v.members.all %}
                      <tr>
                        <td><a href="{% url 'profile' w.user.pk %}">{{ w.user.first_name }}</a></td>
                        <td>{{ w.user.profile.birthday }}</td>
                        <td>{{ w.user.profile.phone }}</td>
                        <td class="favorite"><i class="fa fa-star-o"></i></td>
                      </tr>
                    {% endfor %}

                    <!-- Contact info -->
                    <tr>
                      <td>
                        <strong>Adres</strong> <a href="http://www.google.com/maps/place/{{ v.members.all.0.user.profile.address }}" target="_blank" title="Bekijk op Google Maps" class="google-maps-link"><i class="fa fa-external-link"></i></a><br/>
                        {{ v.members.all.0.user.profile.address.street }}<br/>
                        {{ v.members.all.0.user.profile.address.zip }}, {{ v.members.all.0.user.profile.address.city }}
                      </td>
                      <td>
                        <strong>Telefoon</strong><br/>
                        {{ v.members.all.0.user.profile.address.phone }}
                      </td>
                      <td></td>
                    </tr>
                  </table>

                </div>

                <div class="col-lg-4">
                  <!-- Place for the family photo -->
                  <!-- Todo: load image only when needed/clicked, not all images of all the families at the same time -->
                  <img src="http://blog.novakdjokovicfoundation.org/media/2014/06/shutterstock_151928681.jpg" atr="Foto van de familie {{ v.lastname }}" class="family-picture"/>
                </div>
              </div>
            {% endfor %}
            </div>

          {% elif page == 'search' %}
            <!-- Search page -->
            <form method="post" action="{% url 'addressbook-detail' 'search'%}" class="search-form">
              {% csrf_token %}
              <input type="text" name="search" value="{% if extra %}{{ extra.0 }}{% endif %}" autocomplete="off" placeholder="Zoekterm" autofocus/>
              <button type="submit"><i class="fa fa-search"></i></button><br/>
              Zoeken op:
              <label><input type="checkbox" name="fields[]" value="first_name" {% if extra and 'first_name' in extra or not extra %}checked{% endif %}/> Voornaam</label>
              <label><input type="checkbox" name="fields[]" value="last_name" {% if extra and 'last_name' in extra or not extra %}checked{% endif %}/> Achternaam</label>
              <label><input type="checkbox" name="fields[]" value="address" {% if extra and 'address' in extra %}checked{% endif %}/> Adres</label>
            </form>

            <br/>
            {% if extra %}
              <!-- Display result -->
              {% if data %}
                <strong>Results for </strong>{{ extra.0 }}<strong> :</strong>
                <div class="search-results">
                  {% render_table data %}
                </div>
              {% else %}
                No matches found...
              {% endif %}
            {% endif %}

          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script>
    $(function(){
      $('.family-list .family-list-item').click(function(){
        $('.family-list .family-list-details[data-listensTo=' + $(this).attr('data-family-id') + ']').slideToggle(100);
      });

      $('.favorite i').click(function(){
        alert('Gonna add them to ya favorites! Yeah-yeah jingle-yeah!');
      })
    })
  </script>
{% endblock %}