{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}

{% block content %}
  <section class="container-fluid" id="addressbook">
    <div class="row">
      <div class="col-sm-12">
      <h1>Adresboek</h1>

      {% if messages %}
        <!-- Status messages -->
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}

        <div>
          <!-- Addressbook menu/choices -->
          <ul class="nav nav-tabs">
          <li role="presentation" {% if page == 'persons' %}class="active"{% endif %}><a href="{% url 'addressbook-persons-list' %}">Leden</a></li>
          <li role="presentation" {% if page == 'families' %}class="active"{% endif %}><a href="{% url 'addressbook-family-list' %}">Families</a></li>
          <li role="presentation" {% if page == 'favorites' %}class="active"{% endif %}><a href="{% url 'addressbook-favorites-list' %}">Favorieten</a></li>
          </ul>

          {% block innerContent %}
          {% endblock %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
