<!-- Modal for (deletion) confirmation -->
<div class="modal fade bs-example-modal-sm" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="Bevestiging">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Sluiten"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Bevestig uw keuze</h4>
      </div>
      <div class="modal-body">
        <!-- Dynamic content inserted by JS -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default black modal-cancel">
          Annuleren
        </button>
        <a href="javascript:void(0)" class="btn btn-default cyan modal-ok">
          Bevestigen
        </a>
      </div>
    </div>
  </div>
</div>