{% extends "./layout.html" %}

{% load fiber_tags %}
{% load staticfiles %}
{% load utils %}

{% block content %}
  <section class="container" id="dashboard"
  {% if is_birthday %}
    style="
      background-image: url('{% static 'resources/images/banner-birthday.png' %}');
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: -11px;
      padding-top: 31px;
    "
  {% endif %}
  >
    <!-- User information -->
    <div class="row greeting">
      {% if request.profile.photo %}
        <div class="profile-picture col-md-2 col-md-offset-1">
          <a href="{{ request.profile.photo.url }}" target="_blank" title="Afbeelding bekijken">
            <img src="{{ request.profile.photo.url }}" />
          </a>
        </div>
      {% else %}
        <div class="col-md-2 col-md-offset-1"></div>
      {% endif %}
      <div class="col-md-6">
        <h2>Welkom {{ request.profile.first_name }},</h2>

        {% if is_birthday %}
          <p>
            Van harte gefeliciteerd met je verjaardag!
          </p>
        {% endif %}
      </div>
    </div>

{% comment %}{# todo: uncomment this to enable Mededelingen and Birthday  #}
    <div class="row newsfeed">
      <h3>Mededelingen</h3>
      <div class="newsfeed-list col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
        <!-- One can choose from these three layout options: newsfeed-simple, newsfeed-cubes, and newsfeed-list -->
        {% show_page_content "nieuwsberichten" %}

        <div class="birthday-list">
          <div class="birthday-list-header">
            <i class="fa fa-birthday-cake"></i>
            {% if birthday_profiles_today %}
              {% if birthday_profiles_today|length == 1 %}
                Vandaag is er 1 jarige.
              {% else %}
                Vandaag zijn er {{ birthday_profiles_today|length }} jarigen.
              {% endif %}
            {% elif birthday_profiles_coming %}
              {% if birthday_profiles_coming|length == 1 %}
                Morgen is er 1 jarige.
              {% else %}
                Morgen zijn er {{ birthday_profiles_coming|length }} jarigen.
              {% endif %}
            {% else %}
              Verlopig zijn er geen jarigen.
            {% endif %}

            {% if birthday_profiles_today or birthday_profiles_coming %}
              <a href="javascript:void(0)">Bekijk deze</a>.
            {% endif %}
          </div>

          <div class="birthday-list-content">
            {% if birthday_profiles_today %}
            <i>Vandaag jarig:</i>
            <ul>
              {% for birthday_profile in birthday_profiles_today %}
                {% cycle '#ee7bb4' '#eec17b' '#d37bee' '#ee7b7b' as color_women silent %}
                {% cycle '#7b88ee' '#6fee73' '#987bee' '#7bb3ee' as color_men silent %}

                <li>
                  <i class="fa fa-birthday-cake"
                     style="color: {% if birthday_profile.sex == "V" %}{{ color_women }}{% else %}{{ color_men }}{% endif %}"></i>
                  <a href="{% url 'profile-detail-page' birthday_profile.pk %}"
                     title="Klik hier om het profiel te bekijken">
                    {{ birthday_profile.name }}
                  </a>
                  <small>({{ birthday_profile.age }} jaar)</small>
                </li>
              {% endfor %}
            </ul>
            {% endif %}

            {% if birthday_profiles_coming %}
            <i>Morgen jarig:</i>
            <ul>
              {% for birthday_profile in birthday_profiles_coming %}
                {% cycle '#d37bee' '#eec17b' '#ee7b7b' '#ee7bb4' as color_women silent %}
                {% cycle '#7bb3ee' '#987bee' '#6fee73' '#7b88ee' as color_men silent %}

                <li>
                  <i class="fa fa-birthday-cake"
                     style="color: {% if birthday_profile.sex == "V" %}{{ color_women }}{% else %}{{ color_men }}{% endif %}"></i>
                  <a href="{% url 'profile-detail-page' birthday_profile.pk %}"
                     title="Klik hier om het profiel te bekijken">
                    {{ birthday_profile.name }}
                  </a>
                  <small>({{ birthday_profile.age|add:1 }} jaar)</small>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endcomment %}

    <div class="row">
      <h3>Diensten van de aankomende week</h3>

      <div id="service-table" class="service-table">
        <span class="loading-data"><i class="fa fa-refresh fa-spin"></i> Gegevens ophalen...</span>
      </div>

      <center>
        <small>
          <a href="{% url 'services-page' %}">Bekijk hier een overzicht van alle diensten</a>
        </small>
      </center>
    </div>

    {% if ruilrequests %}
      <!-- Ruilrequests information -->
      <div class="row">
        <h3>Openstaande ruilverzoeken van je rooster(s)</h3>

        <div class="scroll-div">
          <table id="ruilrequests"  class="table table-hover scroll-table">
            <thead>
              <tr>
                <th>Rooster</th>
                <th>Datum</th>
                <th>Persoon</th>
                <th>Opmerkingen</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for ruil in ruilrequests %}
              <tr>
                <td class="duty-team">
                  <a href="{% url 'timetable-detail-page' ruil.timetableduty.timetable.id %}" class="black-url">{{ ruil.timetableduty.timetable.title }}</a>
                </td>
                <td class="duty-date">
                  {% if ruil.timetableduty.event|isobject:"service" %}
                    (<a href="{% url 'services-single' ruil.timetableduty.event.id %}">{{ ruil.timetableduty.event.title }}</a>)
                  {% else %}
                    (<a href="{% url 'events-single' ruil.timetableduty.event.id %}">{{ ruil.timetableduty.event.title }}</a>)
                  {% endif %}
                  {{ ruil.timetableduty.event.startdatetime|date:"j F Y, G:i" }}u
                </td>
                <td class="duty-title">
                  {% if ruil.timetableduty.family %}
                    <a href="{% url 'family-detail-page' ruil.profile.family.id %}" class="black-url">{{ ruil.profile.family.lastname }}</a>
                    <small>
                      (door <a href="{% url 'profile-detail-page' ruil.profile.id %}" class="black-url">{{ ruil.profile.name }}</a>)
                    </small>
                  {% else %}
                    <a href="{% url 'profile-detail-page' ruil.profile.id %}" class="black-url">{{ ruil.profile.name }}</a>
                  {% endif %}
                </td>
                <td><div class="duty-comments">{{ ruil.comments }}</div></td>
                <td>
                  <a href="{% url 'timetable-undo-ruilen-teamleader' ruil.id %}" class="btn btn-default black">Afwijzen</a>
                  <a href="{% url 'timetable-ruilverzoek' ruil.id %}" class="btn btn-default cyan modal-submit-button">Voldoen</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}

    {% if duties %}
      <!-- Timetable information -->
      <div class="row">
        <h3>Je rooster(s)</h3>
        <p>Een vooruitzicht voor de komende vier weken.</p>

        <div class="scroll-div">
          <table id="timetable" class="table table-hover scroll-table">
            <thead>
              <tr>
                <th>Rooster</th>
                <th>Naam</th>
                <th>Datum</th>
                <th>Opmerkingen</th>
                {% comment %}
                  <!-- Disable ruilrequest -->
                  <th>Ruilen</th>
                {% endcomment %}
              </tr>
            </thead>
            <tbody>
            {% for duty in duties %}
              {% ifchanged duty.event.startdatetime|date:"Y-m-d" %}{% cycle 'odd' 'even' as rowday silent %}{% endifchanged %}
              <tr class="table-{{ rowday }}">
                <td>
                  <a href="{% url 'timetable-detail-page' duty.timetable.id %}" class="black-url">{{ duty.timetable.title }}</a>
                </td>
                <td class="duty-title">
                  {% if duty.event|isobject:"service" %}
                    <a href="{% url 'services-single' duty.event.id %}">{{ duty.event.title }}</a>
                  {% else %}
                    <a href="{% url 'events-single' duty.event.id %}">{{ duty.event.title }}</a>
                  {% endif %}
                </td>
                <td class="duty-date">{{ duty.event.startdatetime|date:"j F Y, G:i" }}u</td>
                <td>
                  <div class="duty-comments">
                    {{ duty.comments }}
                  </div>
                </td>
                {% comment %}
                  <!-- Disable ruilrequest -->
                  <td class="duty-responsible">
                    {% with duty.ruilrequest as ruilen %}
                      {% if ruilen.profile == request.profile %}
                        <a href="javascript:void(0)" class="timetable-undo-ruilen"
                          title='Ruilverzoek ongedaan maken voor "{{ duty.event.title }}, {{ duty.event.startdatetime }}"?'
                          data-request-pk="{{ruilen.pk}}"
                        >
                         <i class="fa fa-check fa-fw"></i> Ongedaan maken
                        </a>
                      {% else %}
                        <a href="javascript:void(0)"
                          class="timetable-ruilen"
                          title='Ruilen aanvragen voor "{{ duty.event.title }}, {{ duty.event.startdatetime }}".'
                          data-duty-pk="{{ duty.pk }}"
                        >
                          <i class="fa fa-random fa-fw"></i> Aanvragen
                        </a>
                      {% endif %}
                    {% endwith %}
                  </td>
                {% endcomment %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      {% include "ruilverzoeken.html" %}
    {% endif %}

  </section>
{% endblock %}

{% block scripts %}
  <script>
    window.dashboard({{ services|safe }});
  </script>
{% endblock %}
