{% load staticfiles %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Een gastvrije en warme gemeente geleid en gedreven door het evangelie, waarbinnen alle mensen zich met hun mogelijkheden voor elkaar inzetten">
<meta name="keywords" content="Rehoboth, Rehobothkerkwoerden, Woerden, kerk, samen, gastvrijheid, christenen, Christus, religie, God, Jezus, Heilige Geest, religie, gemeente, gereformeerd, gereformeerde, vrijgemaakt, cgk, ckgv, gkv, Bijbel, geloof, discipel, dienst, kerkdienst, diensten, activiteiten, jeugdvereniging, catechese, catechisatie, belijdenis, kerkgebouw, kerktijden, eredienst, erediensten, meeluisteren, evangelie, evangelisatie, predikant, verkondiging, preken, preek, prijzen, eren, aanbidden, zondag, apostel, apostelschap">

<link rel="icon" href="{% static 'resources/images/rehoboth_blauwfc_16_32_48.ico' %}">

<title>Rehobothkerk Woerden</title>

<link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
