{% load fiber_tags %}
{% load staticfiles %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Een gastvrije en warme gemeente geleid en gedreven door het evangelie, waarbinnen alle mensen zich met hun mogelijkheden voor elkaar inzetten">
<meta name="keywords" content="Rehoboth, Rehobothkerkwoerden, Woerden, kerk, samen, gastvrijheid, christenen, Christus, religie, God, Jezus, Heilige Geest, religie, gemeente, gereformeerd, gereformeerde, vrijgemaakt, cgk, ckgv, gkv, Bijbel, geloof, discipel, dienst, kerkdienst, diensten, activiteiten, jeugdvereniging, catechese, catechisatie, belijdenis, kerkgebouw, kerktijden, eredienst, erediensten, meeluisteren, evangelie, evangelisatie, predikant, verkondiging, preken, preek, prijzen, eren, aanbidden, zondag, apostel, apostelschap">

<link rel="icon" href="{% static 'resources/images/rehoboth_blauwfc_16_32_48.ico' %}">

<title>
  {# Check if a CMS page titel is set AND if the metadata option 'hide_title' is not set to 'ja' #}
  {% if fiber_page.title and fiber_page.metadata.hide_title != "ja" %}
    {# Display page title together with the default title #}
    {{ fiber_page.title }} - Rehobothkerk Woerden
  {% else %}
    {# If no title is set, display the default title #}
    Rehobothkerk Woerden
  {% endif %}
</title>

<link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">

<script>
  {# Set private stream URL when user is logged in #}
  {% if not user.is_authenticated %}
    var private_stream_url = false;
  {% else %}
    var private_stream_url = "http://kerkdienstgemist.nl/streams/267.mp3?access_key=14wx2BLFPx7k0Q";
  {% endif %}
</script>