{% load staticfiles %}

<header>
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/">
          <img src="{% static 'resources/images/logo-wit-compact.png'%}" />
          CGKV Woerden
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a  href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button" aria-haspopup="true" aria-expanded="false">
              Leden
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'profile-list-page' %}">Ledenlijst</a></li>
              <li><a href="{% url 'family-list-page' %}">Families</a></li>
              <li><a href="{% url 'team-list-page' %}">Teams</a></li>
              <li><a href="{% url 'favorite-list-page' %}">Favorieten</a></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'timetable-list-page' %}" title="Bekijk alle roosters">Roosters</a>
          </li>
          <li>
            <a href="http://rehobothkerkwoerden.nl/forum/" title="Bezoek het forum">Forum</a>
          </li>
          {% comment "Calendar not yet enabled for our users" %}
          <li>
            <a href="{% url 'calendar-page' %}">Kalender</a>
          </li>
          {% endcomment %}
          <li>
            <a href="{% url 'profile-detail-page' request.profile.id %}" title="Mijn profiel">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span class="only-smallscreen">Mijn profiel</span>
            </a>
          </li>
          <li>
            <a href="{% url 'dashboard' %}" title="Startpagina">
              <i class="fa fa-home" aria-hidden="true"></i>
              <span class="only-smallscreen">Startpagina</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
