header
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a(href="/")
          img(src="resources/images/rehoboth_white.png")

      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav
          li.active
            a(href="#") Diensten
              span.sr-only (current)
          li
            a(href="#") Contact

        ul.nav.navbar-nav.navbar-right
          li
            a(href="https://www.facebook.com/groups/rehobothkerkwoerden/?fref=ts")
              i.fa.fa-facebook-official
          li
            a(href="mailto:info@cgkvwoerden.nl")
              i.fa.fa-envelope-o
          li
            a(href="{% url 'login' %}")
              i.fa.fa-sign-in
