{% extends "./layout.html" %}

{% block content %}

  <section id="slides"></section>

  <section class="quote light">

    <div class="container">
      <blockquote>
        <For>50 years, WWF has been protecting the future of nature. The world's leading</For>
        <conservation>organization, WWF works in 100 countries and is supported by 1.2 million</conservation>
        <members>in the United States and close to 5 million globally.</members>
      </blockquote>
    </div>
  </section>

  <section id="sermons" class="green">
    <div class="container">
      <h2>
        <i class="fa fa-clock-o pre-icon"></i>Diensten in de komende weken
      </h2>

      <p>
        Elke zondag ochtend en middag is er een dienst in de Rehoboth kerk, waar iedereen welkom
        is.  Na de ochtenddienst kunt u meegenieten van de koffie, thee en fris.
      </p>

      <br/>
      <table class="table">
        <thead>
          <tr>
            <th>Dienst</th>
            <th>Tijd</th>
          </tr>
        </thead>

        {% for service in services %}
        <tr>
          <td>{{ service.title }}</td>
          <td>{{ service.datetime|date:"f A - l d M" }}</td>
        </tr>
        {% endfor %}

      </table>
    </div>
  </section>

  <section id="map">
  </section>

{% endblock %}
