<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    {% include "./head.html" %}
  </head>

  <body>
    {% include "./header.html" %}

    {% block content %}
    {% endblock %}

    <footer>
        <div class="container text-center">
            <p>Copyright &copy; http://www.cgkvwoerden.nl {% now "Y" %}</p>
        </div>
    </footer>

    <script src="{% static "scripts/app.js" %}"></script>
    <script src="{% static "js/grayscale.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"></script>
  </body>
</html>
