<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    {% include "./head.html" %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
  </head>

  <body>
    {%  block intro %}
    {% endblock %}

    <div id="wrapper" >
      {% include "./header.html" %}

      <div id="content" >
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static "scripts/app.js" %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
