doctype html
html

  head
    include ./head.jade

  body

    include ./header.jade

    block content

  // after the body
  // load scripts last
  script(src="/scripts/main.js")
  // must be loaded after jquery
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")

  // google apis
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady")
