<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    {% include "./head.html" %}
  </head>

  <body>
    {%  block intro %}
    {% endblock %}

    <div id="wrapper" >
      {% include "./header.html" %}

      <div id="content" >
        {% block content %}
        {% endblock %}
      </div>

      <footer>
        <div class="container text-center">
        <p id="copyright">Copyright &copy; http://www.cgkvwoerden.nl {% now "Y" %}</p
      </footer>
    </div>

    <script src="{% static "scripts/common.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
