{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}

{% block content %} 
  <div class="container login">
    <div class="row">
      <div class="col-md-1"></div>
      <div id="login-column" class="col-md-10">
        <div id="login-form" class="text-center" >

          {% include './messages.html' %}

          {% if not user.is_authenticated %}
            <h2>Inloggen
            </h2>
            {% if form.errors %}
              <p>De combinatie van gebruikersnaam en wachtwoord is onjuist. Probeer nog een keer.</p>
            {% endif %}
            <form method="post" action="{% url "login" %}">
              {% csrf_token %}
              {{ form.username }}
              <br />
              {{ form.password }}
              <br />
              <input type="hidden" name="next" value="{{ next }}" />
              <input type="submit" class="btn btn-default" value="Inloggen"/>
            </form>
            <br/>
            <div style="margin-top: 30px">
              <small><a href="{% url 'password_reset' %}">Wachtwoord vergeten?</a></small>
            </div>
          {% else %}
            <div class="text-center">
              <h2>Welkom {{ request.profile.first_name }}!</h2>
              <p>Je bent ingelogd</p>
              <br/>
              <p>Klik <a href="{% url 'logout' %}">hier</a> om weer uit te loggen.</p>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
{% endblock %}
