doctype 5
html

  head
    include ./head.jade

  body
    include ./header.jade

    .container.login
      .row
        .col-md-3
        .col-md-6#login-column
          #login-form
            | {% if not user.is_authenticated %}

            h2
              | Inloggen

            .vspace
            .vspace

            form(method="post" action="{% url 'login' %}")
              - include 'form.jade' with form=form

              .btn-group.pull-right
                button.btn.btn-flat(type="button") Annuleren
                input.btn.btn-flat(type="submit") Inloggen

            | {% else %}
            h2
              | Hi {{ user }}!
            | Je bent al ingelogd
            | {% endif %}

        .col-md-3
