{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}

{% block content %}
  <section class="container" id="profile">
    <div class="row">
      <div class="col-md-4">
        {% if p.photo %}
          <img src="{{ p.photo}}" />
        {% else %}
          <img src="{% static 'resources/images/no_photo.jpg' %}" />
        {% endif %}
      </div>
      <div class="col-md-8">
        <h1>{{ p.user.first_name }} {{ p.user.last_name }}</h1>
        <br/>
        <fieldset>
          <legend>Persoonlijk</legend>
          Naam: {{ p.user.first_name }} {{ p.user.last_name }}<br/>
          Geboortedatum: {{ p.birthday }}<br/>
        </fieldset>

        <br/>
        <fieldset>
          <legend>Contact</legend>
          Adres: {{ p.address }}<br/>
          Telefoon: {{ p.phone}}<br/>
        </fieldset>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
