{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}

{% block content %}
  <section class="container-fluid" id="profile">
    <div class="row">
      <div class="col-sm-12">
        <h1>Profiel van {{ p.user.first_name }}</h1>
        <br/>
        <fieldset>
          <legend>Persoonlijk</legend>
          Naam: {{ p.user.first_name }} {{ p.user.last_name }}<br/>
          Geboortedatum: {{ p.birthday }}<br/>
        </fieldset>

        <br/>
        <fieldset>
          <legend>Contact</legend>
          Adres: {{ p.address }}<br/>
          Telefoon: {{ p.phone}}<br/>
        </fieldset>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
