{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}

{% block content %}
  <section class="container" id="profile">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8 ">
        <h1>
          Profiel bewerken
        </h1>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <form method="post" action="{% url 'profile-pic-edit-save' p.pk %}" id="profile-pic-form" enctype="multipart/form-data">
          {% csrf_token %}
          <h3>Profielfoto wijzigen <i class="fa fa-circle-o-notch fa-spin fa-fw" id="pic-loader"></i></h3>
          <label>
            {% if p.photo %}
              <img class="profile-pic" src="{{ p.photo.url}}" data-src="{{ p.photo.url }}"/>
            {% else %}
              <img class="profile-pic" src="http://www.anz.com/resources/5/1/51effbe1-70cb-4203-b8f2-c1555c306d46/4/profile.png?MOD=AJPERES&CACHEID=51effbe1-70cb-4203-b8f2-c1555c306d46/4" data-src="http://www.anz.com/resources/5/1/51effbe1-70cb-4203-b8f2-c1555c306d46/4/profile.png?MOD=AJPERES&CACHEID=51effbe1-70cb-4203-b8f2-c1555c306d46/4" />
            {% endif %}

            <input type="file" name="file" accept="image/*" id="pic-input" />
          </label>

          <div id="pic-info"></div>

          <button type="submit" class="btn btn-default cyan">
            Opslaan
          </button>

          <br/>
          <br/>

          <a href="{% url 'profile-pic-delete' p.pk %}" class="confirm-dialog-button" data-message="Weet je zeker dat je je profielfoto wilt verwijderen?" title="Verwijderen">
            Profielfoto verwijderen
          </a>
        </form>
      </div>

      <div class="col-md-8">
        <form method="post" action="{% url 'profile-detail-page-edit-save' p.pk %}" id="profile-detail-form" enctype="multipart/form-data">
          {% csrf_token %}
          <h3>Persoonlijk</h3>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Voornaam</th>
                <td>
                  <input type="text" name="first_name" value="{{ p.first_name }}" required />
                </td>
              </tr>
              <tr>
                <th>Achternaam</th>
                <td>
                  <input type="text" name="last_name" value="{{ p.last_name }}" required />
                </td>
              </tr>
              <tr>
                <th>Geboortedatum</th>
                <td>
                  <input type="date" name="birthday" value="{{ p.birthday|date:"Y-m-d" }}" placeholder="23-03-1983" required />
                </td>
              </tr>
              <tr>
                <th>E-mail</th>
                <td>
                  <input type="email" name="email" value="{{ p.email }}" />
                </td>
              </tr>
            </tbody>
          </table>

          <br/>

          <h3>Contact</h3>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Adres</th>
                <td>{{ p.best_address }}</td>
              </tr>
              <tr>
                <th>Telefoon</th>
                <td>
                  <input type="phone" name="phone" value="{{ p.phone }}" placeholder="0348-411830" />
                </td>
              </tr>
            </tbody>
          </table>

          <div class="form-group">
              <a href="{% url 'profile-detail-page' p.pk %}" class="btn btn-default black">Annuleren</a>
              <button type="submit" class="btn btn-default cyan">
                Opslaan
              </button>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script>
    window.profileEdit()
  </script>
{% endblock %}
