{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}

{% block content %}
  <section class="container" id="profile">
    <div class="row">
      <div class="col-md-4">
        {% if p.photo %}
          <img src="{{ p.photo}}" />
        {% else %}
          <img src="{% static 'resources/images/no_photo.jpg' %}" />
        {% endif %}
      </div>
      <div class="col-md-8">
        <h1>{{ p.user.first_name }} {{ p.user.last_name }}</h1>
        <br/>

        <h3>Persoonlijk</h3>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Naam</th>
              <td>{{ p.user.first_name }} {{ p.user.last_name }}</td>
            </tr>
            <tr>
              <th>Geboortedatum</th>
              <td>{{ p.birthday }}</td>
            </tr>
          </tbody>
        </table>

        <br/>

        <h3>Contact</h3>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Adres</th>
              <td>{{ p.address }}</td>
            </tr>
            <tr>
              <th>Telefoon</th>
              <td>{{ p.phone}}</td>
            </tr>
          </tbody>
        </table>

        <br/>

        <h3>Teams</h3>
        <table class="table table-bordered">
          <thead>
            <th>Team</th>
            <th>Rol</th>
          </thead>
          <tbody>
            {% for m in memberships %}
              <tr>
                <td>{{ m.team.name }}</td>
                <td>{{ m.get_role_display }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
