doctype html
html

  head
    include ./head.jade

  body
    - for table, doodielist in doodies.items
      h3
        {{ table.title }}

      table.table
        thead
          tr
            td Verantwoordelijke
            td Datum
        tbody
          - for doodie in doodielist
            tr
              td {{ doodie.responsible }}
              td {{ doodie.datetime }}
