{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>Mijn roosters</h1>
        </div>
      </div>

      <div class="row">
        {% if messages %}
          <!-- Status messages -->
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <!-- Timetable menu/choices -->
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
            {% for table in mytables %}
              <li role="presentation" {% if table.pk == current_table.pk %}class="active"{% endif %}><a href={% url 'timetable-detail' table.pk %}>{{ table.title }}</a></li>
            {% endfor %}
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Andere roosters <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% for table in notmytables %}
                  <li role="presentation" {% if table == current_table %}class="active"{% endif %}><a href="{% url 'timetable-detail' table.pk %}">{{ table.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>

          <!-- Timetable duties -->
          {% if current_table %}
          <table id="timetable"  class="table table-hover">
            <thead>
              <tr>
                <th>Datum</th>
                <th>Event</th>
                <th>Persoon</th>
                <th>Opmerkingen</th>
              </tr>
            </thead>
            <tbody>
            {% for duty in duties %}
              {% ifchanged duty.event.startdatetime|date:"Y-m-d" %}{% cycle 'odd' 'even' as rowday silent %}{% endifchanged %}
              <tr class="table-{{ rowday }}" data-duty-pk="{{ duty.pk }}">
                <td class="duty-date">{{ duty.event.startdatetime }}</td>
                <td class="duty-title">{{ duty.event.title }}</td>
                <td>
                  {{ duty.responsible|usernicename }}
                  {% if duty.responsible.pk == user.pk %}
                    <a href="javascript:void(0)" class="timetable-ruilen" title="Ruilen aanvragen"><i class="fa fa-pencil"></i></a>
                  {% endif %}
                </td>
                <td>{{ duty.comments }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          Je hebt geen persoonlijke rooster, maar je kan wel andere roosters bekijken door op de knop "Andere roosters" te klikken
          {% endif %}
          <form method="post" action="timetableduty/create">
            {% csrf_token %}

            <select name="event">
              {% for v in events %}
                <option value="{{ v.pk }}">{{ v }}</option>
              {% endfor %}
            </select>

            <select name="responsible">
              {% for v in users %}
                <option value="{{ v.pk }}">{{ v }}</option>
              {% endfor %}
            </select>

            <textarea name="comments"></textarea>

            <input type="submit" value="Schedule!" class="btn btn-primary" />

          </form>
        </div>
      </div>
    </div>

    <!-- Modal for 'ruilen'-event -->
    <div class="modal fade" id="ruilModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Ruilen</h4>
          </div>
          <form method="post" action="">
            {% csrf_token %}
            <div class="modal-body">
              <input type="hidden" value="" name="modal-duty-pk" />
              <div class="form-group">
                Ruilen aanvragen voor "<span class="modal-event-name"></span>, <span class="modal-event-date"></span>".
              </div>
              <div class="form-group">
                <label for="message-text" class="control-label">Reden/opmerking:</label>
                <textarea class="form-control" name="comments"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
              <button type="submit" class="btn btn-primary">Versturen</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Todo: This script needs to be placed in a script file -->
  <script>
    $(".timetable-ruilen").click(function(){
      $("#ruilModal .modal-event-name").text($(this).closest("tr").find(".duty-title").text());
      $("#ruilModal .modal-event-date").text($(this).closest("tr").find(".duty-date").text());
      $("#ruilModal input[name=modal-duty-pk]").val($(this).closest("tr").attr("data-duty-pk"));
      $("#ruilModal").modal('show');
    });
  </script>
{% endblock %}
