{% extends "./addressbook/layout.html" %}

{% load static %}

{% block subtitle %}
  Families
{% endblock %}

{% block innerContent %}
  <!-- Family page -->
  <!-- Alphabetic list -->
  <div class="family-menu">
  {% for v in data %}
    {% ifchanged v.lastname.0 %}
      <a href="#{{ v.lastname.0 }}">{{ v.lastname.0 }}</a>
    {% endifchanged %}
  {% endfor %}
  </div>

  <!-- Family list -->
  <div class="list-group list-group-hide-detail family-list">
  {% for v in data %}
    {# Set header with first letter of the last name #}
    {% ifchanged v.lastname.0 %}
      <div class="family-list-header" id="{{ v.lastname.0 }}">{{ v.lastname.0 }}</div>
    {% endifchanged %}

    <div class="container-fluid list-group-item family-list-item">
      <div class="row">
        <p class="col-md-12 list-group-head" id="{{ v.pk }}">
          {{ v.lastname }} 
          ({% for w in v.members.all %} {{ w.user.first_name }}, {% endfor %})
        </p>
      </div>
      <div class="row list-group-detail" data-family-pk="{{ v.pk }}"
           {% if id == v.pk %}style="display: block;"{% endif %}>
        <div class="col-md-8">
          <!-- Familymembers + details -->
          <h3>Gezinsleden</h3>
          <table class="table table-bordered table-hover">
            <tr>
              <th>Voornaam</th>
              <th>Geboortedatum</th>
              <th>Mobiele telefoon</th>
            </tr>
            {% for w in v.members.all %}
              <tr>
                <td><a href="{% url 'profile-detail-page' w.user.pk %}">
                  {{ w.user.first_name }}
                </a></td>
                <td>{{ w.birthday }}</td>
                <td>{{ w.phone }}</td>
              </tr>
            {% endfor %}
          </table>

            <!-- Contact info -->
          {% if v.address %}
            <h3>Adres</h3>
            <p>
              <a href="http://www.google.com/maps/place/{{ v.address }}" target="_blank" title="Bekijk op Google Maps" class="google-maps-link">
                <i class="fa fa-external-link"></i>
              </a>
              {{ v.address.street }}<br/>
              {{ v.address.zip }}, {{ v.address.city }} <br />
              {{ v.address.phone }}
          {% endif %}

        </div>

        <div class="col-md-4 text-center">
          <!-- Family photo -->
          {% if v.photo %}
            <img src="{{ MEDIA_URL }}/{{ v.photo }}" atr="Foto van de familie {{ v.lastname }}" class="family-picture"/>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script>window.familiesMain();</script>
{% endblock %}
