{% extends "./addressbook/layout.html" %}

{% load static %}

{% block subtitle %}
  Families
{% endblock %}

{% block innerContent %}
  <!-- Family page -->
  <!-- Alphabetic list -->
  <div class="family-menu">
  {% for v in data %}
    {% ifchanged v.lastname.0 %}
      <a href="#{{ v.lastname.0 }}">{{ v.lastname.0 }}</a>
    {% endifchanged %}
  {% endfor %}
  </div>

  <!-- Family list -->
  <div class="list-group family-list">
  {% for v in data %}
    {# Set header with first letter of the last name #}
    {% ifchanged v.lastname.0 %}
      <div class="family-list-header" id="{{ v.lastname.0 }}">{{ v.lastname.0 }}</div>
    {% endifchanged %}

    <div class="container-fluid list-group-item family-list-item">
      <div class="row">
        <p class="col-md-12 family-name" id="{{ v.pk }}">
          {{ v.lastname }} 
          ({% for w in v.members.all %} {{ w.user.first_name }}, {% endfor %})
        </p>
      </div>
      <div class="row family-list-details" data-family-pk="{{ v.pk }}"
           {% if id == v.pk %}style="display: block;"{% endif %}>
        <div class="col-md-8">
          <!-- Familymembers + details -->
          <h3>Gezinsleden</h3>
          <table class="table table-bordered table-hover">
            <tr>
              <th>Voornaam</th>
              <th>Geboortedatum</th>
              <th>Mobiele telefoon</th>
            </tr>
            {% for w in v.members.all %}
              <tr>
                <td><a href="{% url 'profile-detail-page' w.user.pk %}">
                  {{ w.user.first_name }}
                </a></td>
                <td>{{ w.birthday }}</td>
                <td>{{ w.phone }}</td>
              </tr>
            {% endfor %}

            <!-- Contact info -->
            {% if v.address %}
            <tr>
              <td>
                <strong>Adres</strong>
                  <a href="http://www.google.com/maps/place/{{ v.members.all.0.user.profile.address }}" target="_blank" title="Bekijk op Google Maps" class="google-maps-link">
                    <i class="fa fa-external-link"></i>
                  </a>
                  <br/>
                {{ v.address.street }}<br/>
                {{ v.address.zip }}, {{ v.address.city }}
              </td>
              <td>
                <strong>Telefoon</strong><br/>
                {{ v.address.phone }}
              </td>
              <td></td>
            </tr>
            {% endif %}
          </table>

        </div>

        <div class="col-md-4">
          <!-- Family photo -->
          <!-- Todo: load image only when needed/clicked, not all images of all the families at the same time -->
          {% if v.photo %}
            <img src="{{ v.photo }}" atr="Foto van de familie {{ v.lastname }}" class="family-picture"/>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script>window.familiesMain();</script>
{% endblock %}
