{% extends "addressbook/layout.html" %}

{% load static %}

{% block subtitle %}
  Favorieten
{% endblock %}

{% block innerContent %}
  <!-- Persons page -->
  <p>Favorieten kunnen toegevoegd of weer verwijderd worden van je favorietenlijst. Dit kan gedaan worden door op het sterretje (<i class="fa fa-star-o"></i>) rechts in de tabel met <a href="{% url 'profile-list-page' %}">leden</a> te klikken. </p>

  <br/>

  <div id="profile-search-table"></div>
{% endblock %}

{% block scripts %}
  <script>window.favoriteListMain();</script>
{% endblock %}
