{% extends "./addressbook/layout.html" %}

{% load static %}

{% block subtitle %}
  Teams
{% endblock %}

{% block innerContent %}
  <div class="list-group list-group-hide-detail">
  {% for team in teams %}
    <div class="container-fluid list-group-item">
      <div class="row">
        <h3 class="col-md-12 list-group-head" id="{{ v.pk }}">
          {{ team.name }} 
        </h3>
      </div>
      <div class="row list-group-detail" data-team-pk="{{ team.pk }}"
           {% if id == team.pk %}style="display: block;"{% endif %}>
        <div class="col-md-12">
          <h4>Teamleden</h4>
          <table class="table table-bordered table-hover">
            <tr>
              <th width="50%">Naam</th>
              <th width="50%">Rol</th>
            </tr>
            {% for lid in team.teammembers.all %}
              <tr>
                <td><a href="{% url 'profile-detail-page' lid.user.pk %}">
                  {{ lid.user.first_name }} 
                  {{ lid.user.last_name }}
                </a></td>
                <td>{{ lid.get_role_display }}</td>
              </tr>
            {% endfor %}
          </table>

        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script>window.teamListMain();</script>
{% endblock %}
