{% extends "./addressbook/layout.html" %}

{% load static %}

{% block subtitle %}
  Teams
{% endblock %}

{% block innerContent %}
  <div class="row">

    <div class="col-sm-12">
      <!-- Error handling messages -->
      {% include "./messages.html" %}
    </div>

    {% if perms.agenda.add_team %}
      <!-- admin tools -->
      <div class="col-md-12">
        <a href="{% url 'team-add' %}" class="btn btn-default cyan">Team toevoegen</a>
      </div>
    {% endif %}
  </div>

  <div class="list-group list-group-hide-detail" data-focus="{{ id }}">
  {% for team in teams %}
    <div class="container-fluid list-group-item">
      <div class="row">
        <p class="col-md-12 list-group-head" id="{{ team.pk }}">
          {{ team.name }}
          <span style="float: right;"><a href="{% url 'teampage' team.pk %}" >Teampagina '{{ team.name }}'</a></span>
        </p>
      </div>
      <div class="list-group-detail" data-team-pk="{{ team.pk }}"
           {% if id == team.pk %}style="display: block;"{% endif %}>

        <div class="row">
          {% if perms.agenda.delete_team %}
            <!-- admin tools -->
            <div class="col-md-12 team-delete">
              <a href="{% url 'team-delete' team.pk %}" class="confirm-dialog-button" style="color: darkred; float: right;" data-message="Weet je zeker dat je dit <strong>team</strong> met al de bijhorende <strong>roosters</strong> en <strong>teamleden</strong> wilt verwijderen?" title="Team verwijderen">Team verwijderen</a>
            </div>
          {% endif %}

          <div class="col-md-12">
            {% if team.email %}
              <p class="nowrap"><i class="fa fa-envelope-o" aria-hidden="true" style="font-size: 12pt; margin-right: 5px;"></i> <a href="mailto:{{ team.email }}">{{ team.email }}</a></p>
            {% endif %}
            {% if team.description %}
              <div class="team-description">
                {{ team.description|safe }}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="row">


          <div class="col-md-12">
            <h4>Teamleden</h4>
            {% if team.teammembersSorted %}
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th width="50%">Naam</th>
                    <th width="50%">Functie</th>
                  </tr>
                </thead>
                <tbody>
                  {% for lid in team.teammembersSorted.all %}
                    <tr>
                      <td>
                        {% if lid.family %}
                          <a href="{% url 'family-detail-page' lid.family.pk %}">
                            {{ lid.name }}
                          </a>
                        {% elif lid.profile %}
                          <a href="{% url 'profile-detail-page' lid.profile.pk %}">
                            {{ lid.name }}
                          </a>
                        {% else %}
                          {{ lid.name }}
                        {% endif %}
                      </td>
                      <td>{{ lid.role|capfirst }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              Dit team bevat geen teamleden.
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

  {% include "./confirmationmodal.html" %}
{% endblock %}

{% block scripts %}
  <script>window.teamListMain();</script>
{% endblock %}
