{% extends "./addressbook/layout.html" %}

{% load static %}

{% block subtitle %}
  Teams
{% endblock %}

{% block innerContent %}
  <div class="list-group list-group-hide-detail" data-focus="{{ id }}">
  {% for team in teams %}
    <div class="container-fluid list-group-item">
      <div class="row">
        <p class="col-md-12 list-group-head" id="{{ team.pk }}">
          {{ team.name }}
          <span style="float: right;"><a href="{% url 'teampage' team.pk %}" >Teampagina '{{ team.name }}'</a></span>
        </p>
      </div>
      <div class="list-group-detail" data-team-pk="{{ team.pk }}"
           {% if id == team.pk %}style="display: block;"{% endif %}>

        <div class="row">
          <div class="col-md-12">
            {% if team.email %}
              <p><i class="fa fa-envelope-o" aria-hidden="true" style="font-size: 12pt; margin-right: 5px;"></i> <a href="mailto:{{ team.email }}">{{ team.email }}</a></p>
            {% endif %}
            <p>{{ team.description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Teamleden</h4>
            {% if team.teammembersSorted %}
              <table class="table table-bordered table-hover">
                <tr>
                  <th width="50%">Naam</th>
                  <th width="50%">Rol</th>
                </tr>
                {% for lid in team.teammembersSorted.all %}
                  <tr>
                    <td><a href="{% url 'profile-detail-page' lid.profile.pk %}">
                      {{ lid.profile.name }}
                    </a></td>
                    <td>{{ lid.role|capfirst }}</td>
                  </tr>
                {% endfor %}
              </table>
            {% else %}
              Dit team bevat geen teamleden.
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script>window.teamListMain();</script>
{% endblock %}
