{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>{{ timetable.title }} <small>Rooster importeren</small></h2>
        </div>
        <div class="col-sm-12">
          <a href="{% url 'timetable-teamleader-page' timetable.pk %}" class="backlink">< Terug naar de beheerpagina</a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <!-- Error handling messages -->
          {% include "./messages.html" %}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          Indien je een rooster bijhoudt volgens dit template, dan kan je dit rooster via Excel als een .csv bestand opslaan. Dit bestand kan je vervolgens hier uploaden om direct je rooster online te importeren. <br/>
          Let wel: er zijn een aantal regels waar je je aan moet houden bij het invullen bij het rooster. Zo moeten de datums volledig uitgeschreven zijn en kan je bij Tijdstip alleen kiezen tussen 'Ochtend' (voor een ochtenddienst), 'Middag' (voor een middagdienst of avonddienst) of een ander tijdstip geschreven in het formaat 'hh:mm' (zoals '8:30' of '19:45'). Ook moeten de familie namen onder de kolom Familie ingevuld worden, net zoals de personen onder de kolom 'Persoon'. Je kan meerdere families / personen in één regel plaatsen door deze van elkaar te scheiden met '/' (zoals 'Willem Oranje / Alexander'). Families mag je voorgaan met 'Fam.', maar is niet verplicht (zoals 'Fam. Oranje' of 'Oranje').
        </div>

        <div class="col-sm-12">
          <h3>Uploaden</h3>

          <form method="post" action="{% url 'timetable-import-from-file-check' timetable.pk %}" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="timetable" value="{{ timetable.pk }}" />

            <div class="col-sm-12">
              <div class="form-group">
                <label class="col-sm-2 control-label">CSV bestand</label>
                <div class="col-sm-10">
                  <input type="file" name="upload_file" accept="text/csv" required />
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                  <button type="submit" class="btn btn-default cyan">
                    Uploaden
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
    <div>
    </div>
  </section>

  {% include "./confirmationmodal.html" %}
{% endblock %}

{% block scripts %}
  <script>
    window.teamPage();
  </script>
{% endblock %}
