!!! 5
html
  -include("../head.jade")
  link(rel="stylesheet" href="style/css/startweek.css")

  body

    / header
    header(simple-header title="Startweek" subtitle="2014-2015")

    / roster
    #roster(startweek-activities)

  / after the body
  / load scripts last
  -include("../lib.jade")
  script(src="scripts/startweek/Main.js")
