{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section id="import-users-upload">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>Adresboek beheer</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3>Mutaties gemeente</h3>
          Upload een .csv bestand om het verschil tussen de online database en het geüploade bestand te bekijken. Dit bestand moet in ieder geval de volgende kolommen bevatten:
          <br/>
          <br/>
          {% if headers %}
            <div class="headers">
              <code>
                {% for header in headers %}
                  {{ header }}<br/>
                {% endfor %}
              </code>
            </div>
          {% else %}
            Geen kolommen gespecificeerd.
          {% endif %}
          <br/>
        </div>

        <div class="col-sm-12">
          <!-- Error handling messages -->
          {% include "./messages.html" %}
        </div>

        <form method="post" action="{% url 'addressbook-differences' %}" class="team-add-table form-horizontal" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-sm-2 control-label">CSV-bestand</label>
              <div class="col-sm-10">
                <input type="file" name="file" />
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-default cyan">
                  Uploaden
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script>
    //window.teamAddPage();
  </script>
{% endblock %}
