{% extends "./emails/template.html" %}
{% load staticfiles %}
{% load utils %}

{% block content %}
  <p>
    Hallo {{ user.profile.name }},
  </p>

  <p>
    We hebben een account voor je gemaakt op de website van Rehobothkerk Woerden.
  </p>

  <p>
    Hiermee kun je inloggen zodat je het adresboek en de roosters kunt bekijken!
    Ook is er een kersvers forum voor leden, o.a. om met elkaar in gesprek te gaan over
    het jaarthema.
  </p>

  <p>
    Volg <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="color: #009acd;">deze link</a>
    om een wachtwoord aan te maken voor je account. <br/>
    Je nieuwe gebruikersnaam is: <strong>{{ user.username }}</strong>
  <p>

  <br/>

  <p>
    Hartelijke groet,
    <br />
    <br />
    Het website-team
    <br/>
    <a href="{{ protocol}}://{{ domain }}" style="color: #009acd;">www.rehobothkerkwoerden.nl</a>
  </p>

  <br/>

  <p>
    PS: Als de link niet werkt, kopieer dan deze link naar je browser:
    <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="color: #009acd;">
      {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </a>
  </p>

  <p>
    PPS. Als je nog steeds niet kan inloggen, neem dan even contact op met het websitebeheer:<br/>
    <a href="mailto:website@rehobothkerkwoerden.nl" style="color: #009acd;">website@rehobothkerkwoerden.nl</a>
  </p>
{% endblock %}


{% block footer %}
  Dit is een automatisch gegenereerd bericht waarop je niet kan antwoorden.<br/>
{% endblock %}