<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>
      Hallo {{ user.profile.name }},
    </p>

    <p>
      We hebben een account voor je gemaakt op de website van Rehobothkerk Woerden.
    </p>

    <p>
      Hiermee kun je inloggen zodat je het adresboek en de roosters kunt bekijken!
      Ook is er een kersvers forum voor leden, o.a. om met elkaar in gesprek te gaan over
      het nieuwe jaarthema.
    </p>

    <p>
      Volg <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">deze link</a>
      om een wachtwoord te kiezen voor je account.
      Je nieuwe gebruikersnaam is: <strong>{{ user.username }}</strong>
    <p>

    <p>
      Hartelijke groet,
      <br />
      <br />
      Het website-team
      <br/>
      <a href="{% url index %}">{% url index %}</a>
    </p>

    <br/>

    <p>
      PS: Als de link niet werkt, kopieer dan deze link naar je browser
      <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
      </a>
    </p>

    <p>
      PPS. Als je nog steeds niet kan inloggen, neem dan even contact op met Arjen Rouvoet of Samuel-Anton Jansen
    </p>
  </body>
</html>
