<div class="navbar navbar-default" role="navigation">
  <div class="affix-top container" data-spy="affix" data-offset-top="80">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a logo></a>
    </div>

    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="menu in menus" class="menu-{{ menu.name | lowercase }}">
          <a href="{{ menu.link }}" smooth-scroll>{{ menu.name }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
