// base libs
script(src="lib/jquery/jquery.min.js")
script(src="lib/angular/angular.js")
script(src="lib/bootstrap/dist/js/bootstrap.js")

// angular + lib stuff
script(src="lib/angular-resource/angular-resource.min.js")
script(src="lib/angular-touch/angular-touch.min.js")
script(src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js")
script(src="lib/angular-ui-calendar/src/calendar.js")
script(src="lib/moment/moment.js")
script(src="lib/moment/lang/nl.js")
script(src="lib/angular-moment/angular-moment.min.js")
script(src="lib/fullcalendar/fullcalendar.min.js")
script(src="lib/angular-ui-utils/ui-utils.min.js")
script(src="lib/angular-ui-map/ui-map.min.js")
script(src="lib/stellar/jquery.stellar.min.js")
script(src="lib/underscore/underscore-min.js")
