!!! 5
html
  -include("head.jade")
  link(href="style/css/login.css" rel="stylesheet")

  body

    header(simple-header title="Leden Gedeelte" subtitle="Roosters, nieuws en fotos!")

    section.blue
      .container
        h1
          | Inloggen
        p
          | Om het beveilgde gedeelte van de rehoboth site binnen te gaan moet u inloggen

    section.light
      .container#login.text-center
        form.form-inline(ajax-form role="form")
          .form-group
            label.sr-only Gebruikersnaam
            input.form-control(type="text" name="username" placeholder="Gebruikersnaam")

          .form-group
            label.sr-only Wachtwoord
            input.form-control(type="password" name="key" placeholder="Wachtwoord")

          button.btn.btn-default(type="submit") Inloggen!

  -include("lib.jade")
  script(src="scripts/login/Main.js")
