{% extends "./layout.html" %}
{% load i18n %}

{% load staticfiles %}
{% load utils %}

{% block content %}
  <div class="container login">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div>

          {% include './messages.html' %}

          <h1>Nieuw wachtwoord</h1>
          {% if validlink %}

            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <hr/>

            <form method="post" action="" class="text-center">
              {% csrf_token %}

              {{ form.new_password1.label }}<br/>
              {{ form.new_password1 }}<br/>
              {{ form.new_password1.errors }}<br/>

              {{ form.new_password2.label }}<br/>
              {{ form.new_password2 }}<br />
              {{ form.new_password2.errors }}<br/>

              <input type="submit" class="btn btn-default" value="{% trans 'Change my password' %}"/>
            </form>
          {% else %}
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
          {% endif %}
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
{% endblock %}
