{% extends "./layout.html" %}
{% load i18n %}

{% load staticfiles %}
{% load utils %}

{% block content %}
  <div class="container login">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div>

          {% include './messages.html' %}

          <h1>Wachtwoord wijzigen</h1>

          {% if form.errors %}
              <p class="errornote">
              {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
              </p>
          {% endif %}

          <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
          <hr/>

          <form method="post" action="" class="text-center">
            {% csrf_token %}
            {{ form.old_password.label }}<br/>
            {{ form.old_password }}<br/>
            {{ form.old_password.errors }}<br/>

            {{ form.new_password1.label }}<br/>
            {{ form.new_password1 }}<br/>
            <div id="new_password1" class="password-errors errorlist"></div>
            {{ form.new_password1.errors }}<br/>

            {{ form.new_password2.label }}<br/>
            {{ form.new_password2 }}<br />
            <div id="new_password2" class="password-errors errorlist"></div>
            {{ form.new_password2.errors }}<br/>

            <input type="submit" class="btn btn-default" value="{% trans 'Change my password' %}"/>

            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
          </form>

        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  <br/>
  <br/>
  <br/>

  </div>
{% endblock %}


{% block scripts %}
  <script>
    $('input[type="password"]').change(function(){
      if ($(this).attr('name') != 'old_password' && $(this).val().length < 8){
        $("#" + $(this).attr('name')).text('Wachtwoord moet minstens 8 tekens bevatten.');
      }else{
        $("#" + $(this).attr('name')).text('');
      }
    });

    $('form').submit(function(e){
      $('input[type="password"]').each(function(){
        if ($(this).attr('name') != 'old_password' && $(this).val().length < 8){
        $("#" + $(this).attr('name')).text('Wachtwoord moet minstens 8 tekens bevatten.');
          e.preventDefault();
          return;
        }
      });
    });
  </script>
{% endblock %}
