{% extends "./layout.html" %}
{% load i18n %}

{% load staticfiles %}
{% load utils %}

{% block content %}
  <div class="container login">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div>

          {% include './messages.html' %}

          <h1>Wachtwoord vergeten</h1>

          <p>{% trans "De instructies voor het wijzigen van uw wachtwoord zijn naar uw e-mailadres verstuurd. " %}</p>

          <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

  </div>
{% endblock %}
