#roster.container(ng-repeat="(day, acts) in activitiesByDay")
  // print the schedule for every day
  // day header
  .row.day
    .col-sm-12
      h2
        | {{ day | amDateFormat:'dddd' }}
      h3
        | {{ day | amDateFormat: 'd-MM' }}

  // activities table
  .row.activities
    .col-sm-12
      table.table.table-striped.table-hover
        thead
          tr
            th Tijd
            th.expand Activiteit
            th Locatie
            th Prijs
            th Aanmeldingen
            th Aanmelden

        tbody(ng-repeat="act in acts")
          tr(startweek-activity ng-init="activity=act;")
