{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section id="eventfiles">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>Diensten <small>Bestanden</small></h2>
        </div>
        {% if perms.agenda.add_service %}
        <div class="col-sm-12">
          <a href="{% url 'services-admin' %}" class="backlink">< Terug naar de dienstenpagina</a>
        </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="col-sm-12">
          {% if ef %}
            <h3>Bestand bewerken</h3>
          {% else %}
            <h3>Bestand uploaden</h3>
          {% endif %}

          <!-- Error handling messages -->
          {% include "./messages.html" %}

          <!-- Form -->

          <form class="form-horizontal"
                id="service-file-form"
                method="post"
                {% if ef %}
                  action="{% url 'services-files-admin-edit-save' ef.pk %}"
                {% else %}
                  action="{% url 'services-files-admin-add' %}"
                {% endif %}
                enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group" title="Laat leeg voor het automatisch laten bepalen van de titel">
              <label class="col-sm-2 control-label">Titel</label>
              <div class="col-sm-10">
                <input type="text"
                       name="title"
                       class="form-control"
                       placeholder="Bijv. liturgie ochtenddienst 1 januari. Laat leeg voor het automatisch laten bepalen van de titel."
                       value="{{ ef.title }}" />
              </div>
            </div>

            <div class="form-group" title="Kies een dienst waar dit bestand bij geplaatst moet worden">
              <label class="col-sm-2 control-label">Dienst</label>
              <div class="col-sm-10">
                <select name="event" required>
                  <option value="none">Kies een dienst</option>
                  <optgroup label="Recente diensten">
                    {% for service in recent_services %}
                      <option value="{{ service.pk }}" {% if service.pk == selected_service %}selected="selected"{% endif %}>{{ service }}</option>
                    {% endfor %}
                  </optgroup>

                  <optgroup label="Aankomende diensten">
                    {% for service in services %}
                      <option value="{{ service.pk }}" {% if service.pk == selected_service %}selected="selected"{% endif %}>{{ service }}</option>
                    {% endfor %}
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Bestanden</label>
              <div class="col-sm-10">
                <input type="file" name="file" />
              </div>
            </div>

            <div class="form-group" title="Dit bestand mag door iedereen geopend worden">
              <label class="col-sm-2 control-label">Openbaar</label>
              <div class="col-sm-10 checkbox">
                <label>
                  <input type="checkbox" name="is_public" {% if ef.is_public or not ef %}checked{% endif %}/>
                </label>
              </div>
            </div>

            <!-- Buttons -->
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <a href="{% url 'services-files-admin' %}" class="btn btn-default black">Annuleren</a>
                <button type="submit" class="btn btn-default cyan">
                  Opslaan
                </button>
              </div>
            </div>
          </form>

        </div>

      </div>

      {% if not ef %}
        <div class="row">
          <div class="col-sm-12">
            <h3>Overzicht bestaande bestanden <small>(vanaf {{ maxweeks|date:"j F Y" }})</small></h3>
            {% if efs %}
              <div class="scroll-div">
                <table id="eventfiles-table" class="table table-hover scroll-table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Dienst</th>
                      <th>Naam</th>
                      <th>Bestand</th>
                      <th>Laatst bewerkt</th>
                      {% if perms.agenda.change_eventfile %}
                        <th></th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                  {% now "c" as nowdatetime %}
                  {% for s in efs %}
                    {% ifchanged s.event %}{% cycle 'odd' 'even' as rowday silent %}{% endifchanged %}
                    <tr class="table-{{ rowday }} {% if s.event.startdatetime|date:"c" < nowdatetime %}service-old{% endif %}">
                      <td class="ef-public">
                        {% if s.is_public %}
                          <i class="fa fa-check-square-o fa-fw" aria-hidden="true" title="Openbaar"></i>
                        {% else %}
                          <i class="fa fa-square-o fa-fw" aria-hidden="true" title="Niet openbaar"></i>
                        {% endif %}
                      </td>

                      <td class="ef-date">{% ifchanged s.event %}{{ s.event.title }}, {{ s.event.startdatetime|date:"j F Y, G:i" }}u{% endifchanged %} {{ s.event.exists }}</td>

                      <td class="ef-title">{{ s.title }}</td>

                      <td class="ef-file">
                        <i class="fa fa-file-{% if s.type %}{{ s.type }}-{% endif %}o fa-fw" aria-hidden="true"></i>
                        <a href="{{ s.file.url }}" target="_blank" title="Klik hier om het bestand te openen">
                          {{ s.filename }}
                        </a>
                        <small>({{ s.filesize }})</small>
                      </td>

                      <td class="ef-modified_date" title="Toegevoegd door {{ s.owner.name }} op {{ s.created_date }}">{{ s.modified_date }}</td>
                      {% if perms.agenda.change_eventfile %}
                        <td class="duty-tools">
                          <a href="{% url 'services-files-admin-edit' s.pk %}" title="Bewerken"><i class="fa fa-pencil-square-o fa-fw"></i></a>
                          <a href="{% url 'services-files-admin-delete' s.pk %}" class="confirm-dialog-button" data-message="Weet je zeker dat je dit item wilt verwijderen?" title="Verwijderen">
                            <i class="fa fa-times fa-fw"></i>
                          </a>
                        </td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
              <p>Geen bestanden aanwezig.</p>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>

  {% include "confirmationmodal.html" %}
{% endblock %}

{% block scripts %}
  <script>
    window.eventFilesPage();
  </script>
{% endblock %}
