{% extends "public_layout.html" %}

{% load staticfiles %}

{% block intro %}
  <!-- Intro Header -->
  <header class="intro">
    <div class="intro-body">
      <div class="intro-gradient" ></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <img src="{% static 'resources/images/logo-wit.png' %}">
          </div>

          <!-- Hidden button -->
          <div id="listen-in" class="col-md-4">
              <a class="cyan btn-rounded btn luisteren-button"
                 data-toggle="tooltip" data-placement="bottom"
                 href="http://kerkdienstgemist.nl/assets/267"
                 title="U kunt nu luisteren naar de live stream!" >Luister nu mee!</a>
          </div>
        </div>

        <!-- intro footer -->
        <div class="row">
          <div class="col-sm-12">
            <a id="go-down" href="#content" class="btn btn-circle page-scroll cyan">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <!-- About Section -->
  <section class="content-section">
    <div class="container">

      <h2>Rehobothkerk en de ANBI-status</h2>

      <div class="row">
        <div class="col-md-12">
          <p>
            De Rehobothkerk heeft de ANBI-status via de groepsbeschikking van de CGK en de GKv. Op deze pagina zijn de gegevens geplaatst die vereist zijn voor de ANBI-status.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>A. Algemene gegevens</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table>
            <tr>
              <th>Naam ANBI:</th>
              <td>De Rehobothkerk is een samenwerking van de Christelijke Gereformeerde Kerk (CGK) en Gereformeerde Kerk vrijgemaakt (GKv). </td>
            </tr>
            <tr>
              <th>RSIN/Fiscaal nummer:</th>
              <td>820717757 (CGK), 820461829 (GKv)</td>
            </tr>
            <tr>
              <th>Website adres:</th>
              <td>www.rehobothkerkwoerden.nl</td>
            </tr>
            <tr>
              <th>E-mail:</th>
              <td>scriba<script>document.write('@')</script>rehobothkerkwoerden.nl</td>
            </tr>
            <tr>
              <th>Adres:</th>
              <td>Leidsestraatweg 130</td>
            </tr>
            <tr>
              <th>Postcode:</th>
              <td>3443 BZ</td>
            </tr>
            <tr>
              <th>Plaats:</th>
              <td>Woerden</td>
            </tr>
            <tr>
              <th>Postadres:</th>
              <td>Postbus 277</td>
            </tr>
            <tr>
              <th>Postcode:</th>
              <td>3440 AG</td>
            </tr>
            <tr>
              <th>Plaats:</th>
              <td>Woerden</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p>Onze kerk is een samenwerkingsgemeente bestaande uit de Christelijke Gereformeerde Kerk en de Gereformeerde Kerk vrijgemaakt. Deze kerken hebben geen statuten. Hun statuut (in de zin van artikel 2:2 lid 2 BW) is hun kerkorde.
De kerkorde van zowel de Christelijke Gereformeerde Kerken in Nederland als de Gereformeerde Kerken vrijgemaakt bevat o.m. bepalingen omtrent het bestuur, de financi&#235n, toezicht en (tucht)rechtspraak die gelden voor de kerkleden, de gemeenten en andere onderdelen van deze kerk. Deze kerkorde is onder meer te vinden op de website: <a href="http://www.cgk.nl/index.php?kerkorde" target="_blank">http://www.cgk.nl/index.php?kerkorde</a>.
          </p>
          <p>
            Beide kerkgenootschappen hebben van de Belastingdienst een groepsbeschikking ANBI gekregen. Dat wil zeggen dat de afzonderlijke gemeenten en andere instellingen die tot de
kerkgenootschappen behoren zijn aangewezen als ANBI. Dit is ook van toepassing op de Rehobothkerk te Woerden.
De Rehobothkerk (CGKV Woerden) is een zelfstandig onderdeel als bedoeld in artikel 2 boek 2 Burgerlijk wetboek en bezit rechtspersoonlijkheid.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>B. Samenstelling bestuur</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
           Het bestuur van onze kerk ligt bij de kerkenraad en wordt gevormd door de ambtsdragers van deze gemeente. De kerkenraad bestaat naast de predikant uit 13 leden (ouderlingen en diakenen), die worden gekozen door en uit de leden van de kerkelijke gemeente.
          </p>
          <p>
            De commissie van beheer, de penningmeester en de administrateur zijn verantwoordelijk voor het beheer van de financi&#235le middelen en de gebouwen van de gemeente, met uitzondering van diaconale aangelegenheden.
          </p>
          <p>
            De kerkenraad is eindverantwoordelijk, wat tot uitdrukking komt in de goedkeuring van onder andere de begroting en de jaarrekening door de kerkenraad.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>C. Doelstelling/visie</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
           De Rehobothkerk erkent de Belijdenis des Geloofs van de gereformeerde kerken in Nederland, de Heidelbergse Catechismus en de Leerregels van de synode van Dordrecht, gehouden in 1618 en &#39;19 als de volledige uitdrukking van hun geloof. Dit vormt de basis van haar kerkstructuur, haar organisatie, haar kerkrecht, haar kerkelijk leven en haar financi&#235n.
          </p>
          <ol>
            <li>
              De Christelijke Gereformeerde Kerken in Nederland zijn overeenkomstig haar belijden gestalte van de ene heilige apostolische en katholieke of algemene christelijke Kerk die zich, delend in de aan Isra&#235l geschonken verwachting, uitstrekt naar de komst van het Koninkrijk van God.
            </li>
            <li>
              Levend uit Gods genade in Jezus Christus vervult de kerk de opdracht van haar Heer om het Woord te horen en te verkondigen.
            </li>
            <li>
              Betrokken in Gods toewending tot de wereld, belijdt de kerk in gehoorzaamheid aan de Heilige Schrift als enige bron en norm van de kerkelijke verkondiging en dienst, de drieenige God, Vader, Zoon en Heilige Geest.
            </li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>D. Beleidsplan</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            Het beleidsplan van de Christelijke Gereformeerde Kerken kunt u vinden via: <a href="http://www.cgk.nl/index.php?beleidsplan" target="_blank">http://www.cgk.nl/index.php?beleidsplan</a> . Het beleidsplan van de Gereformeerde Kerken in Nederland (vrijgemaakt) kunt u vinden via: <a href="http://www.gkv.nl/anbi" target="_blank">http://www.gkv.nl/anbi</a>.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>E. Beloningsbeleid</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            De beloning van de predikant van onze kerk wordt mede geregeld volgens advies van deputaten financi&#235le zaken, ingevolge art. 4 bijlage 36 (art. 50 Kerkorde). Op de hierna genoemde website vindt u het advies inzake de minimum predikantstraktementen en overige emolumenten voor de predikanten. <a href="http://www.cgk.nl/index.php?predikantstraktementen" target="_blank">http://www.cgk.nl/index.php?predikantstraktementen</a>.
          </p>
          <p>
            Onze kerk heeft geen andere medewerkers in loondienst. Leden van kerkenraden en commissies ontvangen geen vergoeding voor hun werkzaamheden. Alleen werkelijk gemaakte onkosten kunnen worden vergoed.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>F. Verslag activiteiten</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            De kerkenraad heeft de algemene eindverantwoordelijkheid voor het in stand houden van een levende gemeente. Dat doet zij door zoveel mogelijk gemeenteleden in te schakelen bij het plaatselijk werk. Enkele taken zijn conform de kerkorde gedelegeerd aan de diaconie. Diverse activiteiten vinden plaats onder verantwoordelijkheid van commissies en werkgroepen, zoals onder meer de commissie van beheer en de missionaire commissie. De gemeente organiseert verschillende activiteiten zoals:
          </p>
          <ul>
            <li>Twee kerkdiensten per zondag;</li>
            <li>Tijdens morgendienst op zondag is er cr&#232;che voor de jongste kinderen</li>
            <li>Kinderkring voor verschillende groepen basisschoolkinderen;</li>
            <li>Voor de 12+ jeugd worden er clubavonden en catechisatie gehouden;</li>
            <li>Er zijn verschillende (twee-) wekelijkse bijbelkringen, waaronder de Salvation-kringen;</li>
            <li>Periodiek worden er wijkavonden en andere wijkactiviteiten georganiseerd;</li>
            <li>Jaarlijks een gemeentedag op een zaterdag in september;</li>
            <li>Deelname aan plaatselijk beraad voor kerken;</li>
            <li>We ondersteunen lokale initiatieven, onder andere van de gezamenlijke kerken in Woerden.</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>G. Voorgenomen bestedingen</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            De verwachte bestedingen (begroting) sluiten als regel nauw aan bij de rekeningen over de voorgaande jaren. Het plaatselijk kerkenwerk vertoont een grote mate van continu&#239;teit: de predikant en verschillende gemeenteleden verrichten hun werkzaamheden, kerkdiensten worden gehouden en ook andere kerkelijke activiteiten vinden plaats. In de kolom begroting in het overzicht onder H. is dit cijfermatig in beeld gebracht.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>H. Verkorte staat van baten en lasten met toelichting</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            Onderstaande staat van baten en lasten geeft via de kolom begroting inzicht in de begrote ontvangsten en de voorgenomen bestedingen in 2016.<br/>
De voorgenomen bestedingen voor het komende jaar zullen niet sterk afwijken van de voorgenomen bestedingen van het verslagjaar.
          </p>

          <h4>Exploitatierekening CGKV Woerden</h4>
          <table>
            <tr>
              <td><strong>LASTEN</strong></td>
              <td><u>begr. 2016</u></td>
              <td><u>begr. 2015</u></td>
              <td><u>werk. 2015</u></td>
            </tr>
            <tr>
              <td>Pastoraat</td>
              <td>68.400</td>
              <td>67.100</td>
              <td>66.177</td>
            </tr>
            <tr>
              <td>Pastorie</td>
              <td>10.400</td>
              <td>16.300</td>
              <td>10.616</td>
            </tr>
            <tr>
              <td>Kerkgebouw</td>
              <td>19.200</td>
              <td>21.800</td>
              <td>19.702</td>
            </tr>
            <tr>
              <td>Erediensten</td>
              <td>3.800</td>
              <td>4.000</td>
              <td>3.001</td>
            </tr>
            <tr>
              <td>Bestuur</td>
              <td>2.000</td>
              <td>3.000</td>
              <td>1.583</td>
            </tr>
            <tr>
              <td>Gemeenteleven</td>
              <td>5.500</td>
              <td>4.500</td>
              <td>4.649</td>
            </tr>
            <tr>
              <td>Kerkverband</td>
              <td class="border-bottom">28.029</td>
              <td class="border-bottom">27.082</td>
              <td class="border-bottom">27.067</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="border-bottom-double">137.329</td>
              <td class="border-bottom-double">143.782</td>
              <td class="border-bottom-double">132.795</td>
            </tr>

            <tr>
              <td><strong>BATEN</strong></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Vaste vrijwillige bijdragen</td>
              <td>126.915	</td>
              <td>125.000</td>
              <td>126.012</td>
            </tr>
            <tr>
              <td>Collecten</td>
              <td>12.000	</td>
              <td>11.000	</td>
              <td>11.700</td>
            </tr>
            <tr>
              <td>Ontvangen giften</td>
              <td>500</td>
              <td>2.600</td>
              <td>1.420</td>
            </tr>
            <tr>
              <td>Ontvangen rente</td>
              <td>350</td>
              <td>170</td>
              <td>179</td>
            </tr>
            <tr>
              <td>Opbrengst huur</td>
              <td>200</td>
              <td>500</td>
              <td>170</td>
            </tr>
            <tr>
              <td>Acties tekort wegwerken</td>
              <td class="border-bottom">0</td>
              <td class="border-bottom">4.512</td>
              <td class="border-bottom">0</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="border-bottom-double">139.965</td>
              <td class="border-bottom-double">143.782</td>
              <td class="border-bottom-double">139.481</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Saldo</td>
              <td class="border-bottom">2.636</td>
              <td class="border-bottom">0</td>
              <td class="border-bottom">6.686</td>
            </tr>
          </table>
          <br/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p>
            <strong>Toelichting</strong><br/>
            Kerkgenootschappen en hun onderdelen zorgen in Nederland zelf voor de benodigde inkomsten voor hun activiteiten. Aan de kerkleden wordt elk jaar via vrijwillige bedragen gevraagd om hun bijdrage voor het werk van de kerkelijke gemeente waartoe zij behoren. Onze kerk heeft een pastorie en een kerkgebouw in eigen bezit. Het kerkgebouw wordt op bescheiden schaal verhuurd voor externe activiteiten. Verder is er sprake van beperkte rente-inkomsten door het spaargeld dat de kerk bezit. De opbrengsten van dit spaargeld worden aangewend voor het werk van de gemeente.
          </p>
          <p>
            Een groot deel van de ontvangen inkomsten wordt besteed aan pastoraat, in de vorm van het salaris voor de predikant en aan de organisatie van kerkelijke activiteiten.
Daarnaast worden de ontvangen inkomsten ook besteed aan het in stand houden van de kerkelijke bezittingen, benodigd voor het houden van de kerkdiensten (zoals onderhoud, energie, belastingen en verzekeringen) en aan de kosten van de eigen organisatie en bijdragen voor het in stand houden van het landelijk werk.
Onder lasten van beheer zijn opgenomen de kosten voor administratie en beheer van de kerkelijke bezittingen
          </p>
        </div>
      </div>

    </div>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
