{% extends "public_layout.html" %}

{% load staticfiles %}

{% block intro %}
  <!-- Intro Header -->
  <header class="intro">
    <div class="intro-body">
      <div class="intro-gradient" ></div>
      <div class="container">
        <div class="row">
          {% if listen_live %}
            <div class="col-md-4 col-md-offset-2">
              <img src="{% static 'resources/images/logo-wit.png' %}">
            </div>
            <div id="listen-in" class="col-md-4">
                <a class="cyan btn-rounded btn luisteren-button"
                   data-toggle="tooltip" data-placement="bottom"
                   href="http://kerkdienstgemist.nl/assets/267"
                   title="U kunt nu luisteren naar de live stream!" >Luister nu mee!</a>
            </div>
          {% else %}
            <div class="col-md-8 col-md-offset-2">
              <img src="{% static 'resources/images/logo-wit.png' %}">
            </div>
          {% endif %}
        </div>

        <!-- intro footer -->
        <div class="row">
          <div class="col-sm-12">
            <a id="go-down" href="#about" class="btn btn-circle page-scroll cyan">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <!-- About Section -->
  <section id="about" class="content-section">
    <div class="container">
      <h2>Kerktijden Rehobothkerk Woerden</h2>
      <div class="row">
        <div class="col-md-12">
          <p>
            De Rehobothkerk heeft elke zondag twee erediensten. Na de ochtenddienst ben je van harte uitgenodigd voor koffie of thee. De kerktijden zijn:

            {% now "n" as current_month %}
            {% if current_month|get_digit:"1" > 5 and current_month|get_digit:"1" < 9 %}
              <!-- Zomertijd -->
              <ul>
                <li>Ochtenddienst: 09:30 uur</li>
                <li>Middagdienst: 18:30 uur</li>
              </ul>
              <br/>
              Tussen 1 juni t/m begin september start de middagdienst om 18.30 uur. In de rest van het jaar start de middagdienst om 16:30 uur.
            {% else %}
              <!-- Wintertijd -->
              <ul>
                <li>Ochtenddienst: 09:30 uur</li>
                <li>Middagdienst: 16:30 uur</li>
              </ul>
              <br/>
              Van 1 juni t/m begin september start de middagdienst om 18.30 uur.
            {% endif %}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Meeluisteren kerkdienst</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            De kerkdiensten van de CGKV Woerden worden live uitgezonden via internet. Meeluisteren doe je via <a href="http://kerkdienstgemist.nl/assets/267" target="_blank">Kerkuitzending Gemist</a>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Cr&#232;che voor kleine kinderen</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            Tijdens de ochtenddienst is er cr&#232;che voor de allerkleinsten. De cr&#232;che is in &#233;&#233;n van de zalen in het kerkgebouw. Voorafgaand de dienst kun je daar jouw kind heen brengen. Oppas is aanwezig en na de dienst haal je de kindjes weer op. <a href="{% url 'kindercreche' %}">Lees meer info en regels voor de kindercr&#232;che</a>.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Adres Rehobothkerk</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
            <p>
              Het adres van het kerkgebouw van de Rehobothkerk is:
              <br/><br/>
              Leidsestraatweg 130<br/>
              3443 BZ Woerden
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Contact</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
            <p>
              Heb je vragen over de Rehobothkerk of de kerkdiensten? Neem gerust contact met ons op via het <a href="/#contact">contactformulier</a>.
            </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script>window.kerktijdenPage();</script>
{% endblock %}
