{% extends "public_layout.html" %}

{% load staticfiles %}

{% block content %}
  <section class="content-section">
    <div class="container">

      <h1>Kinder&shy;crèche</h1>

      <div class="row">
        <div class="col-md-12">
          <p>
            De crèche is bedoeld voor kinderen tot 4 jaar. We vragen ouders wat drinken mee te geven in een beker die niet makkelijk omvalt en lekt. Als extra kan er een koekje worden meegegeven, geen fruit!
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Contact</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
            <p>
              Heeft u vragen over de Rehobothkerk of de kerkdiensten? Neem gerust contact met ons op via het <a href="/#contact">contactformulier</a>.
            </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
