{% extends "public_layout.html" %}

{% load staticfiles %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>Diensten <small>Overzicht</small></h1>
        </div>

        {% if perms.agenda.add_service or perms.agenda.add_eventfile%}
        <div class="col-sm-12">
          {% if perms.agenda.add_service %}
            <a href="{% url 'services-admin' %}" class="backlink"><i class="fa fa-calendar-plus-o fa-fw" aria-hidden="true"></i> Diensten beheren</a>
          {% endif %}
          {% if perms.agenda.add_service and perms.agenda.add_eventfile%}
            /
          {% endif %}
          {% if perms.agenda.add_eventfile %}
            <a href="{% url 'services-files-admin' %}" class="backlink"><i class="fa fa-cloud-upload fa-fw" aria-hidden="true"></i> Bestanden beheren</a>
          {% endif %}
        </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3>Aankomende diensten</h3>
          <div id="service-table" class="service-table">
            <span class="loading-data"><i class="fa fa-refresh fa-spin"></i> Gegevens ophalen...</span>
          </div>
        </div>
        <div class="col-sm-12">
          <br/>
          <br/>
          <h3>Afgelopen diensten</h3>
          <div id="service-table-old" class="service-table">
            <span class="loading-data"><i class="fa fa-refresh fa-spin"></i> Gegevens ophalen...</span>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script>
    window.frontpageDiensten();
  </script>
{% endblock %}
