{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}

{% block content %}
  <section>
    <h1>Add Service</h1>
    <p>Voegt meteen een ochtend en middag/avonddienst toe op de opgegeven datum, met de tijden 9:30 en 16:30/18:30 (afhangende of zomertijd uit of aan staat).</p>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div id="add-event-form"></div>
        </div>
      </div>
    </div>

    <form method="post" action="{% url 'add-event-post' %}">
      {% csrf_token %}
      Voorganger ochtend: <input type="text" placeholder="Voorganger" name="minister1" value="ds. A. Jansen" />
      <br/>
      Voorganger middag: <input type="text" placeholder="Voorganger" name="minister2" value="ds. A. Jansen" />
      <br/>
      Datum: <input type="date" placeholder="Datum" name="date" value="" />
      <br/>
      Eerste dienst: <input type="time" placeholder="Tijd" name="time1a" value="09:30" /> - <input type="time" placeholder="Tijd" name="time1b" value="11:00" />
      <br/>
      Tweede dienst: <input type="time" placeholder="Tijd" name="time2a" value="16:30" /> - <input type="time" placeholder="Tijd" name="time2b" value="17:30" /> (begin om 18:30 / 06:30 PM voor zomertijd)
      <br/>
      <input type="submit" value="Submit" class="btn"/>

    </form>
  </section>
{% endblock %}

{% block scripts %}
  <script>window.addEventMain();</script>
{% endblock %}
