{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>Nieuwe team aanmaken</h2>
        </div>
        <div class="col-sm-12">
          <a href="{% url 'team-list-page' %}" class="backlink">< Terug naar de overzichtspagina</a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <!-- Error handling messages -->
          {% include "./messages.html" %}
        </div>

        <form method="post" action="{% url 'team-add-save' %}" class="team-add-table form-horizontal">
          {% csrf_token %}

          <div class="col-sm-12">

            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <h3>Algemene informatie</h3>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Naam</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="name" required="required" value="{{ team.name }}" placeholder="De naam van dit team" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Beschrijving</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="description" placeholder="Een beschrijving van de taken die dit team uitvoert">{{ team.description }}</textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">E-mailadres</label>
              <div class="col-sm-10">
                <input type="email" name="email" value="{{ team.email }}" class="form-control" placeholder="Het algemene e-mailadres waarop dit team te bereiken is" />
              </div>
            </div>
          </div>

          {% comment %}
            <div class="col-sm-12">

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                  <h3>Leden</h3>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Naam</label>
                <div class="col-sm-10">
                  <div id="profile-search-input"></div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Functie</label>
                <div class="col-sm-3">
                  <select name="addRole" class="form-control">
                    {% for r in roles %}
                      <option value="{{ r.0 }}" {% if r.0 == selected_role %}selected="selected"{% endif %}>{{ r.1|capfirst }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" title="Geef dit teamlid de rechten om dit team te kunnen beheren en wijzigen.">Beheerrechten</label>
                <div class="col-sm-10 checkbox">
                    <label >
                      <input type="checkbox" id="addAdmin" />
                    </label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                  <button type="button" class="btn btn-default cyan" id="addTeammember">
                    Lid toevoegen
                  </button>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Toegevoegde leden</label>
                <div class="col-sm-10">
                  <ul>
                    <li>Todo</li>
                    <li>Make</li>
                    <li>This</li>
                    <li>a</li>
                    <li>React</li>
                    <li>Component</li>
                  </ul>
                </div>
              </div>

            </div>
          {% endcomment %}

          <div class="col-sm-12">
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <a href="{% url 'team-list-page' %}" class="btn btn-default black">Annuleren</a>
                <button type="submit" class="btn btn-default cyan">
                  Team opslaan
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script>
    window.teamAddPage();
  </script>
{% endblock %}
