{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section id="timetables">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>Mijn roosters</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <!-- Timetable menu/choices -->
          <ul class="nav nav-tabs">
            {% for table in mytables %}
              <li role="presentation" {% if table.pk == current_table.pk %}class="active"{% endif %}>
                <a href={% url 'timetable-detail-page' table.pk %}>{{ table.title }}
                  {% if table.groepsbeheer %}
                    <span class="timetable-gear-link" onclick="document.location.href='{% url 'timetable-teamleader-page' table.pk %}'; return false;">
                      <i class="fa fa-cog" aria-hidden="true" title="Beheer dit rooster"></i>
                    </span>
                  {% endif %}
                </a>
              </li>
            {% endfor %}

            {% if current_table and not current_table in mytables %}
              <li role="presentation" class="active"><a href={% url 'timetable-detail-page' current_table.pk %}>{{ current_table.title }}</a></li>
            {% endif %}

            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">
                Andere roosters <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% for table in notmytables %}
                  <li role="presentation"><a href="{% url 'timetable-detail-page' table.pk %}">{{ table.title }}</a></li>
                {% empty %}
                  <li role="presentation" class="nav-item-fillup">Niets gevonden</li>
                {% endfor %}
              </ul>
            </li>
          </ul>

          <!-- Timetable duties -->
          {% if current_table %}
            {% comment %}
              <!-- Double scroll bar function -->
              <div class="double-scroll-bar">
                <div></div>
              </div>
            {% endcomment %}
            <div class="scroll-div">
              <table id="timetable"  class="table table-hover scroll-table">
                <thead>
                  <tr>
                    <th>Datum</th>
                    <th>Naam</th>
                    <th>Persoon</th>
                    <th>Opmerkingen</th>
                    {% if current_table.groepsbeheer %}
                      <th></th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                {% for duty in duties %}
                  {% ifchanged duty.event.startdatetime|date:"Y-m-d" %}{% cycle 'odd' 'even' as rowday silent %}{% endifchanged %}
                  <tr class="table-{{ rowday }}">
                    <td class="duty-date">{{ duty.event.startdatetime|date:"j F Y, G:i" }}u</td>
                    <td class="duty-title">{{ duty.event.title }}</td>
                    <td class="duty-responsible">
                      {% with duty.ruilrequest as ruilen %}
                        <span class="{% if duty.responsible.pk == profile.pk %}current-user{% endif %}
                                    {% if ruilen %}ruil_requested{% endif %}">
                          {{ duty.responsible|usernicename }}
                        </span>
                        {% if duty.responsible.pk == request.profile.pk %}
                          {% if ruilen.profile == request.profile %}
                            <a href="javascript:void(0)" class="timetable-undo-ruilen"
                              title='Ruilverzoek ongedaan maken voor "{{ duty.event.title }}, {{ duty.event.startdatetime }}"?'
                              data-request-pk="{{ruilen.pk}}"
                            >
                              <i class="fa fa-check fa-fw"></i>
                            </a>
                          {% else %}
                            <a href="javascript:void(0)"
                              class="timetable-ruilen"
                              title='Ruilen aanvragen voor "{{ duty.event.title }}, {{ duty.event.startdatetime }}".'
                              data-duty-pk="{{ duty.pk }}"
                            >
                              <i class="fa fa-random fa-fw"></i>
                            </a>
                          {% endif %}
                        {% endif %}
                      {% endwith %}
                    </td>
                    <td><div class="duty-comments">{{ duty.comments }}</div></td>
                    {% if current_table.groepsbeheer %}
                      <td class="duty-tools">
                        <a href="{% url 'timetable-teamleader-duty-edit' duty.pk %}" title="Bewerken">
                          <i class="fa fa-pencil-square-o fa-fw"></i>
                        </a>
                        <a href="{% url 'timetable-teamleader-duty-delete' duty.pk %}" class="confirm-dialog-button" data-message="Weet je zeker dat je dit item wilt verwijderen?" title="Verwijderen">
                          <i class="fa fa-times fa-fw"></i>
                        </a>
                      </td>
                    {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          {% elif mytables %}
          <p>

          </p>
          {% else %}
          <p>
            Je hebt geen persoonlijke rooster, maar je kan wel andere roosters
            bekijken door op de knop "Andere roosters" te klikken.
          </p>
          {% endif %}
        </div>
      </div> <!-- row -->

      <!-- new duties form --
      <div class="row" >
        <div class="col-sm-12" id="duty-form">
        </div>
      </div>
    -->
    </div>

    {% if current_table %}
      {% include "ruilverzoeken.html" %}
    {% endif %}
  </section>

  {% include "confirmationmodal.html" %}
{% endblock %}

{% block scripts %}
  <script>
    window.timetableMain();
  </script>
{% endblock %}
