{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>Mijn roosters</h1>
        </div>
      </div>

      <div class="row">
        {% if messages %}
          <!-- Status messages -->
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <!-- Timetable menu/choices -->
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
            {% for table in mytables %}
              <li role="presentation" {% if table.pk == current_table.pk %}class="active"{% endif %}>
                <a href={% url 'timetable-detail-page' table.pk %}>{{ table.title }}</a>
              </li>
            {% endfor %}

            {% if not current_table in mytables %}
              <li role="presentation" class="active">
                <a href={% url 'timetable-detail-page' current_table.pk %}>{{ current_table.title }}</a>
              </li>
            {% endif %}

            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                Andere roosters <span class="caret"></span>
              </a>
              {% if notmytables|length > 0 %}
              <ul class="dropdown-menu">
                {% for table in notmytables %}
                  <li role="presentation">
                    <a href="{% url 'timetable-detail-page' table.pk %}">{{ table.title }}</a>
                  </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
          </ul>

          <!-- Timetable duties -->
          <div id="timetable" data-pk="{{ current_table.pk }}}">
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for 'ruilen'-event -->
    <div class="modal fade" id="ruilModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Ruilen</h4>
          </div>
          <form method="post" action="">
            {% csrf_token %}
            <div class="modal-body">
              <input type="hidden" value="" name="modal-duty-pk" />
              <div class="form-group">
                Ruilen aanvragen voor "<span class="modal-event-name"></span>, <span class="modal-event-date"></span>".
              </div>
              <div class="form-group">
                <label for="message-text" class="control-label">Reden/opmerking:</label>
                <textarea class="form-control" name="comments"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
              <button type="submit" class="btn btn-primary">Versturen</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section>
{% endblock %}

{% block scripts %}
  <script>
    window.timetableMain();
  </script>
{% endblock %}
