{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>Mijn roosters</h1>
        </div>
      </div>

      <div class="row">
        <!-- Timetable menu/choices -->
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
            {% for table in mytables %}
              <li role="presentation" {% if table.pk == current_table.pk %}class="active"{% endif %}><a href={% url 'timetable-detail-page' table.pk %}>{{ table.title }}</a></li>
            {% endfor %}

            {% if current_table and not current_table in mytables %}
              <li role="presentation" class="active"><a href={% url 'timetable-detail-page' current_table.pk %}>{{ current_table.title }}</a></li>
            {% endif %}

            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                Andere roosters <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% for table in notmytables %}
                  <li role="presentation"><a href="{% url 'timetable-detail-page' table.pk %}">{{ table.title }}</a></li>
                {% empty %}
                  <li role="presentation">Niets gevonden</li>
                {% endfor %}
              </ul>
            </li>
          </ul>

          <!-- Timetable duties -->
          {% if current_table %}
          <table id="timetable"  class="table table-hover">
            <thead>
              <tr>
                <th>Datum</th>
                <th>Event</th>
                <th>Persoon</th>
                <th>Opmerkingen</th>
              </tr>
            </thead>
            <tbody>
            {% for duty in duties %}
              {% ifchanged duty.event.startdatetime|date:"Y-m-d" %}{% cycle 'odd' 'even' as rowday silent %}{% endifchanged %}
              <tr class="table-{{ rowday }}">
                <td class="duty-date">{{ duty.event.startdatetime }}</td>
                <td class="duty-title">{{ duty.event.title }}</td>
                <td>
                  {% with duty.ruilrequest as ruilen %}
                    <span class="{% if duty.responsible.pk == user.pk %}current-user{% endif %}
                                {% if ruilen %}ruil_requested{% endif %}">
                      {{ duty.responsible|usernicename }}
                    </span>
                    {% if duty.responsible.pk == request.user.pk %}
                      {% if ruilen.user == request.user %}
                        <a href="javascript:void(0)" class="timetable-undo-ruilen"
                          title='Ruilverzoek ongedaan maken voor "{{ duty.event.title }}, {{ duty.event.startdatetime }}".'
                          data-request-pk="{{ruilen.pk}}"
                        >
                          <i class="fa fa-times"></i>
                        </a>
                      {% else %}
                        <a href="javascript:void(0)"
                          class="timetable-ruilen"
                          title='Ruilen aanvragen voor "{{ duty.event.title }}, {{ duty.event.startdatetime }}".'
                          data-request-pk="{{ ruilen.pk }}"
                        >
                          <i class="fa fa-pencil"></i>
                        </a>
                      {% endif %}
                    {% endif %}
                  {% endwith %}
                </td>
                <td>{{ duty.comments }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>
            Je hebt geen persoonlijke rooster, maar je kan wel andere roosters
            bekijken door op de knop "Andere roosters" te klikken.
          </p>
          {% endif %}
        </div>
      </div> <!-- row -->

      <!-- new duties form --
      <div class="row" >
        <div class="col-sm-12" id="duty-form">
        </div>
      </div>
    -->
    </div>

    {% if current_table %}
      <!-- Modal for 'ruilen'-event -->
      <div class="modal fade" id="ruilModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Ruilen</h4>
            </div>
            <form method="post" action="{% url 'timetable-ruilen' current_table.pk %}">
              {% csrf_token %}
              <div class="modal-body">
                <div class="form-group modal-event-content"></div>
                <div class="form-group modal-event-comments">
                  <label for="message-text" class="control-label">Reden/opmerking:</label>
                  <textarea class="form-control" name="comments"></textarea>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default black" data-dismiss="modal">
                  Annuleren
                </button>
                <button type="submit" class="btn btn-default cyan modal-submit-button">
                  Verzoek indienen
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal for 'ruilen-ongedaan-maken'-event -->
      <div class="modal fade" id="undoRuilModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Ruilverzoek intrekken</h4>
            </div>
            <form method="post">
              {% csrf_token %}
              <div class="modal-body">
                <div class="form-group modal-event-content"></div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default black" data-dismiss="modal">
                  Annuleren
                </button>
                <button type="submit" class="btn btn-default cyan modal-submit-button">
                  Verzoek intrekken
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
  </section>
{% endblock %}

{% block scripts %}
  <script>
    window.timetableMain();
  </script>
{% endblock %}
