{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>Ruilverzoek voldoen</h2>
        </div>
      </div>

      <div class="row">
        <!-- Ruilrequests -->
        <div class="col-sm-12">
          <strong>Verzoek voor</strong><br/>
          {{ ruil.timetableduty }}
          <br/>
          <br/>
          <br/>

          <form method="post" action="{% url 'timetable-ruilverzoek-accept' ruil.id %}">
            {% csrf_token %}
            <label>
              Vervanging:
            </label>
            <select name="responsible">
              {% if members.all %}
                <optgroup label="Personen">
                {% for member in members.all %}
                  <option value="p{{ member.profile.pk }}" {% if member.profile.pk == selected_member %}selected="selected"{% endif %}>{{ member.name }}</option>
                {% endfor %}
                </optgroup>
              {% endif %}
              {% if families.all %}
                <optgroup label="Families">
                {% for member in families.all %}
                  <option value="f{{ member.family.pk }}" {% if member.family.pk == selected_family %}selected="selected"{% endif %}>{{ member.family }}</option>
                {% endfor %}
                </optgroup>
              {% endif %}
            </select>
            <br/>
            <br/>
            <a href="{% url 'timetable-teamleader-page' ruil.timetableduty.timetable.id %}" class="btn btn-default black">Annuleren</a>
            <button type="submit" class="btn btn-default cyan modal-submit-button">Vervangen</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
{% endblock %}
