{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>
            <a href="{% url 'teampage' table.team.pk %}" class="black-url">Mijn team</a>
            <small>
              <a href="{% url 'timetable-detail-page' table.id %}" class="black-url">
                {{ table.title }}
              </a>
            </small>
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3>Roosterwijziging</h3>
        </div>

        <div class="col-sm-12">
          <!-- Error handling messages -->
          {% include "./messages.html" %}
        </div>

        <div class="col-sm-12">
          <p>
            Wijzigingen voor: '{{ duty }}'
          </p>

          {% if members.all or families.all %}
            <div id="dutyForm">
              <form method="post" action="{% url 'timetable-teamleader-duty-edit-save' duty.id %}">
                {% csrf_token %}

                {% if tables %}
                  <div>
                    <label>Rooster</label><br/>
                    <select name="timetable" required>
                      {% for tab in tables %}
                        <option value="{{ tab.pk }}" {% if tab.pk == table.pk %}selected="selected"{% endif %}>{{ tab.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <br/>
                {% else %}
                  <input type="hidden" name="timetable" value="{{ table.id }}"/>
                {% endif %}

                <div>
                  <label>Event</label><br/>
                  <select name="event" required>
                    {% for event in events %}
                      <option value="{{ event.pk }}" {% if event.pk == selected_event %}selected="selected"{% endif %}>{{ event }}</option>
                    {% endfor %}
                  </select>
                </div>
                <br/>

                <div>
                  <label>Verantwoordelijke</label><br/>
                  <select name="responsible">
                    {% if not responsible_in_team %}
                      <optgroup label="Niet teamleden">
                      {% if duty.responsible %}
                        <option value="p{{ duty.responsible.pk }}" selected="selected">{{ duty.responsible.name }}</option>
                      {% elif duty.responsible_family %}
                        <option value="f{{ duty.responsible_family.pk }}" selected="selected">{{ duty.responsible_family }}</option>
                      {% endif %}
                      </optgroup>
                    {% endif %}
                    {% if members.all %}
                      <optgroup label="Personen">
                      {% for member in members.all %}
                        <option value="p{{ member.profile.pk }}" {% if duty.responsible and member.profile.pk == duty.responsible.pk %}selected="selected"{% endif %}>{{ member.name }}</option>
                      {% endfor %}
                      </optgroup>
                    {% endif %}
                    {% if families.all %}
                      <optgroup label="Families">
                      {% for member in families.all %}
                        <option value="f{{ member.family.pk }}" {% if duty.responsible_family and member.family.pk == duty.responsible_family.pk %}selected="selected"{% endif %}>{{ member.family }}</option>
                      {% endfor %}
                      </optgroup>
                    {% endif %}
                  </select>
                </div>
                <br/>

                <div>
                  <label>Commentaar</label>
                  <textarea name="comments">{% if duty %}{{ duty.comments }}{% endif %}</textarea>
                </div>

                <div>
                  <a href="{% url 'timetable-detail-page' table.id %}" class="btn btn-default black">Annuleren</a>
                  <button type="submit" class="btn btn-default cyan modal-submit-button">
                    Wijzigen
                  </button>
                </div>
                <br/>

                <div>
                  <a href="{% url 'timetable-teamleader-duty-delete' duty.pk %}"
                     class="confirm-dialog-button"
                     data-message="Weet je zeker dat je dit item wilt verwijderen?"
                     title="Verwijderen"
                     style="color: #a30000; font-size: 90%">Verwijderen</a>
                </div>
              </form>
            </div>
          {% else %}
            <p>
              Er kan alleen ingepland worden als er teamleden zijn. Dit team heeft geen teamleden. Deze kun je <a href="{% url 'teampage-control-members' table.team.pk %}">hier</a> toevoegen.
            </p>
          {% endif %}

        </div>
      </div>
    </div>
  </section>

  {% include "./confirmationmodal.html" %}
{% endblock %}

{% block scripts %}
  <script>
    window.timetableTeamleaderDuty();
  </script>
{% endblock %}
