{% extends "./layout.html" %}

{% load staticfiles %}
{% load utils %}
{% load render_table from django_tables2 %}

{% block content %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>Mijn team <small>{{ table.title }}</small></h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'timetable-detail-page' table.pk %}">< Terug naar het rooster</a>
        </div>

        <div class="col-sm-12">
          <!-- Error handling messages -->
          {% include "./messages.html" %}
        </div>

        <!-- Ruilrequests -->
        <div class="col-sm-12">
          <h3>Ruilverzoeken</h3>
          {% if ruils %}
          <table id="timetable"  class="table table-hover">
            <thead>
              <tr>
                <th>Datum</th>
                <th>Persoon</th>
                <th>Opmerkingen</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for ruil in ruils %}
              <tr>
                <td class="duty-date">
                  (<a href="{% url 'services-single' ruil.timetableduty.event.id %}">{{ ruil.timetableduty.event.title }}</a>)
                  {{ ruil.timetableduty.event.startdatetime|date:"j F Y, G:i" }}u
                </td>
                <td class="duty-title">
                  <a href="{% url 'profile-detail-page' ruil.profile.id %}" class="black-url">{{ ruil.profile.name }}</a>
                </td>
                <td>{{ ruil.comments }}</td>
                <td>
                  <a href="{% url 'timetable-undo-ruilen-teamleader' ruil.id %}" class="btn btn-default black">Afwijzen</a>
                  <a href="{% url 'timetable-ruilverzoek' ruil.id %}" class="btn btn-default cyan modal-submit-button">Voldoen</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>
            Er zijn geen ruilverzoeken ingediend!
          </p>
          {% endif %}
        </div>

        <div class="col-sm-12">
          <h3>Inplannen</h3>

          <div id="dutyForm">
            <form method="post" action="{% url 'timetable-teamleader-duty-add' %}">
              {% csrf_token %}

              {% if tables %}
                <div>
                  <label>Rooster</label><br/>
                  <select name="timetable" required>
                    {% for tab in tables %}
                      <option value="{{ tab.pk }}" {% if tab.pk == table.pk %}selected="selected"{% endif %}>{{ tab.title }}</option>
                    {% endfor %}
                  </select>
                </div>
                <br/>
              {% else %}
                <input type="hidden" name="timetable" value="{{ table.id }}"/>
              {% endif %}

              <div>
                <label>Dienst</label><br/>
                <select name="event" required>
                  {% for event in events %}
                    <option value="{{ event.pk }}" {% if event.pk == selected_event %}selected="selected"{% endif %}>{{ event }}</option>
                  {% endfor %}
                </select>
              </div>
              <br/>

              <div>
                <label>Verantwoordelijke</label><br/>
                <select name="responsible" required>
                  {% for member in members.all %}
                    <option value="{{ member.profile.pk }}" {% if member.profile.pk == selected_member %}selected="selected"{% endif %}>{{ member.profile.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <br/>

              <div>
                <label>Commentaar</label>
                <textarea name="comments">{% if duty %}{{ duty.comments }}{% endif %}</textarea>
              </div>

              <div>
                <a href="{% url 'timetable-teamleader-page' table.id %}" class="btn btn-default black">Annuleren</a>
                <button type="submit" class="btn btn-default cyan modal-submit-button">
                  Inplannen
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    <br/>
  </section>
{% endblock %}

{% block scripts %}
  <script>
    window.timetableTeamleader();
  </script>
{% endblock %}
