{% extends "./emails/template.html" %}
{% load staticfiles %}
{% load utils %}

{% block content %}
  Beste {{ resp.name }},
  <br/><br/>

  Je hebt voor de volgende taak een ruilverzoek ingediend:<br/>
  <a href="{{ protocol}}://{{ domain }}{% url 'timetable-detail-page' duty.timetable.pk %}" style="color: #009acd;" target="_blank">{{ duty.timetable.title }}</a>: {{ duty }}<br/>
  <br/>
  Dit verzoek is {{ status }} door de roosteraar.

{% endblock %}

{% block footer %}
  Dit is een automatisch gegenereerd bericht waarop niet geantwoord kan worden. Voor vragen over het rooster kan je contact opnemen met de desbetreffende roosteraar. <br/>
  <small>Verzonden op {{ sendtime }}.</small>
{% endblock %}