#profile-search-table
  input
    margin:
      left: 10px
      bottom: 20px

#profile
  .profile-pic
    max-width: 100%
    max-height: 200px

.family-menu
  text-align: center
  padding: 10px
  border-bottom: 1px solid #ddd
  font-size: 18pt

  a
    margin: auto 8px
    font-size: 18pt

    &:hover
      text-decoration: underline

.family-list
  .family-picture
    max-width: 100%
    max-height: 300px

  .family-list-header
    margin-top: 20px
    margin-bottom: 5px
    font-size: 29pt

.addressbook-favorite
  cursor: pointer
  display: inline-block

  i.fa
    float: left

  &:hover
    :not(.fa-star-half-o)
      display: none

    .fa-star-half-o
      display: block

.fa-star-half-o
  display: none


.google-maps-link
  font-size: 80%
  margin-left: 5px

.search-form
  label
    margin: auto 8px
    cursor: pointer
