@import colors
@import mixins

#calendar
  overflow: hidden
  width: 100%

$table-bg: darken($light-bg, 5%)
$table-border: 1px solid darken($light-bg, 9%)

.calendar-head
  position: relative
  text-align: center
  height: 80px

  button
    margin-top: 15px

  p.calendar-month
    position: absolute
    width: 100%
    top: 20px
    left: 0px
    text-align: center

    font-size: 25pt

  p.calendar-year
    position: absolute
    width: 100%
    top: 0px
    left: 0px
    text-align: center

    font-size: 15pt

  button.prev
    position: absolute
    left: 0px
    top: 0px

  button.next
    position: absolute
    right: 0px
    top: 0px

  p
    margin: 0px

.calendar
  width: 100%

  table
    width: 100%
    background-color: $table-bg

    td
      border: $table-border
      padding: 4px

tr
  td.cal-day
    position: relative
    height: 120px
    width: 1 / 7
  
    .content
      position: absolute
      left: 0px
      top: 0px
      background-color: $table-bg
      width: 100%
      height: 100%
  
      span.day-no
        position: absolute
        top: 10px
        right: 10px
        font-size: 30pt
        font-weight: bold
        color: darken($light-bg, 12%)
  
      &.focus
        bottom: 3px solid $blue
  
        span.day-no
          color: $blue
  
  td.cal-day
    &:hover
      .content
        +transition(left 0.2s ease-out, top 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out)
        width: 120%
        height: 120%
        left: -10%
        top: -10%
        border: $table-border
        background-color: $blue
        color: white
        z-index: 1000
  
    &:last-child:hover
      .content
        right: -1px
        left: auto
  
    &:first-child:hover
      .content
        left: -2px
        right: auto

  &:last-child
    td.cal-day:hover
      .content
        bottom: -1px
        top: auto

  &:first-child
    td.cal-day:hover
      .content
        top: -1px
        bottom: auto
