#dashboard
  & > div
    margin-bottom: 70px

  .greeting
    text-align: center
    margin-top: 50px
    margin-bottom: 85px
    padding-bottom: 13px
    border-bottom: 1px solid #b8b8b8
    min-height: 185px

    .profile-picture
      height: 150px
      margin-bottom: 35px

      img
        height: 100%

    h2
      margin-bottom: 0
      text-transform: inherit

  h3
    text-align: center

  .newsfeed
    // One can choose from these three layout options: newsfeed-simple, newsfeed-cubes, and newsfeed-list
    .newsfeed-simple
      div > ul
        list-style-type: disc

        & > li
          margin-bottom: 7px

    .newsfeed-cubes
      div > ul
        & > li
          display: block
          padding: 12px 40px
          margin-bottom: 5px
          border: 1px solid #c6cacd
          box-shadow: 1px 1px 2px #dbdbdb
          transition: all 0.2s

          &:hover
            background-color: #f3f3f3
            box-shadow: 1px 1px 2px #cac9c9

    .newsfeed-list
      div.content > ul

        & > li
          display: block
          padding: 11px 17px
          border: 1px solid #aeb1b3
          border-top-width: 0
          background-color: #f5f5f5
          transition: all 170ms

          &:first-of-type
            border-top-width: 1px
            border-radius: 2px 2px 0 0

          //&:last-of-type
            border-radius: 0 0 2px 2px

          //&:only-of-type
            border-radius: 2px

          &:hover
            background-color: #faf9f9

    .birthday-list
      padding: 11px 17px
      border: 1px solid #aeb1b3
      border-top-width: 0
      border-radius: 0 0 2px 2px

      .birthday-list-header
        font-size: 78%
        .fa
          font-size: 80%
          color: #4b4b4b
          margin-right: 3px


      .birthday-list-content
        padding-left: 39px
        display: none

        ul
          padding-top: 5px
          padding-bottom: 8px

          &:last-of-type
            padding-bottom: 0

          li
            position: relative
            margin-bottom: 5px

            .fa
              position: absolute
              left: -22px
              top: 2px
              font-size: 70%
              color: #abaab1