#foto-1
  height: 350px
  background-image: url('/static/resources/images/contact-bg.jpg')
  background-position: center
  background-size: cover

#what
  position: relative
  background-color: black
  color: white
  min-height: 250px
