@import colors

#wrapper
  min-height: 100%
  position: relative

$footer-height: 80px
footer
  background-color: $dark-bg
  color: $light-fg
  position: absolute
  bottom: 0px
  height: $footer-height 
  width: 100%

#content
  padding-bottom: $footer-height
a, p, li
  font-weight: 300

h1, h2, h3, h4, h5
  font-weight: 300
