@import fonts
@import reset
@import common
@import colors

#wrapper
  min-height: 100%
  position: relative

#content
  padding-top: 50px

.navbar-custom
  background-color: $dark-bg
  padding: 0px
  
  .nav li
    background-color: $dark-bg

    &:hover
      background-color: lighten($dark-bg, 5%)

      & > a
        color: $blue

    a
      color: $light-fg

    ul.dropdown-menu
      background-color: $dark-bg
      padding: 0px
      margin-right: -4px
      border: 0px

      li
        text-align: right
        padding: 0px

        a
          padding-top: 8px
          padding-bottom: 8px
          min-width: 200px

.paginated-table
  .pages
    width: 100%
    text-align: center

// pages
@import timetables
@import calendar
@import addressbook
@import profile
