@import fonts
@import reset
@import grayscale

// theme overrides
*
  font-family: RobotoDraft
  font-weight: 300
  line-height: 200%
  font-size: 14pt
  box-sizing: border-box

p
  font-size: 14pt

h1
  font-size: 22pt
  margin-bottom: 10px

h2
  font-size: 20pt
  margin-bottom: 10px

table
  tr

    th
      font-weight: 700
      font-size: 14pt

    td
      font-size: 14pt

.stub-column
  height: 0px

.vspace
  min-height: 20px

section
  padding-bottom: 50px
  padding-top: 50px

  &.dark
    background-color: $dark-bg
    color: $light-fg

// main layout
@import layout

// pages
@import frontpage
