#profile
  #profile-favorite
    display: inline-block
    position: relative
    top: 2px
    margin-left: 5px

    i
      font-size: 74%
      color: #333

  .wijk
    font-weight: 400
    font-size: 85%

  fieldset
    padding: 7px

    legend
      border-bottom: 1px solid #ddd

  ul
    list-style-type: disc
    padding-left: 40px
    line-height: 1.6


  $picsize: 291px

  .profile-pic-container
    position: relative
    overflow: hidden
    width: $picsize
    height: $picsize
    margin: 0 auto

    .profile-pic
      min-width: $picsize
      max-width: 100%
      min-height: $picsize
      max-height: 100%
      position: absolute
      margin: 0

  #profile-left-div
    @media (min-width: 992px)
      border-right: 1px dashed #ccc

    #profile-pic-form

      #pic-loader
        visibility: hidden
        color: #333

      #pic-info
        color: #d70000
        margin-bottom: 7px

    #change-password-div
      margin-top: 55px
      margin-bottom: 41px
      padding-top: 20px
      padding-bottom: 41px
      border-top: 1px dashed #ccc

      @media (max-width: 991px)
        border-bottom: 1px dashed #ccc

  #profile-detail-form
    input
      width: 100%

    label
      margin-top: 15px

  .make-contact-icon
    margin-left: 9px

  .profile-hidden
    display: none

  #loading-addon
    display: none

  .remove-pfpic
    font-size: 12pt
    color: #c71212