#services-form

  label
    margin-top: 8px

  .services-form-service input[type="time"]
    max-width: 150px
    display: inline-block

  .services-form-service
    border-top: 1px solid #ddd

  .service-second
    border-left: 1px dashed #ddd

  .services-form-footer
    text-align: center