#services-single
  table
    width: auto

    td
      padding: 5px 10px

      .file
        font-size: 65%
        float: right
        margin: 6px 0 0 24px

      .icon
        font-size: 85%
        margin-right: 4px

    &#duties
      td:first-child
        padding-right: 30px
        white-space: nowrap

        @media (max-width: 450px)
          padding-right: 5px

      .fa
        font-size: 67%
        transform: scale(1, -1) rotate(45deg)
        position: relative
        top: -2px

    &#info
      td:first-child
        font-weight: bold