.settings-container
  transition: background 0.3s

  &.blue
    background-color: #e0e8ec
    background-color: #d1e0ec
    background-color: #1A3242
    color: #fff

    a
      color: #bdcdd8

    #settings-form
      border-left: 1px dotted #bdcdd8

    button
      border-color: #65a29e

  #settings-form-toggle
    font-size: 80%
    display: inline-block
    margin-top: 9px

    &:focus:not(:hover)
      text-decoration: none

  #settings-form
    display: none
    border-left: 1px dotted #4a8cc5
    padding: 1px 14px 18px 14px
    margin-top: 0px
    margin-left: 6px

    form
      .checkbox
        padding-top: 0

        label
          font-weight: 100

      .form-group
        margin-bottom: 0

        &:last-child
          margin-top: 15px

.team-description
  white-space: pre-wrap
  border-left: 3px solid #bbbbbb
  padding-left: 12px

#team-form
  display: none

.teampage-tables
  li
    margin: auto auto 10px 15px

.zoomtools
  border-bottom: 1px solid #aaa
  padding: 6px 4px

  i
    font-size: 23pt
    cursor: pointer

.team-usersquare
  background-color: #ffffff
  display: inline-block
  width: 125px
  vertical-align: top
  margin: 0 4px 30px 4px
  border-radius: 6px
  overflow: hidden
  box-shadow: 1px 2px 6px #ccc
  transition: all 0.2s
  padding: 6px 0

  &:hover
    box-shadow: 1px 2px 6px #999

  /*&.team-role-LEI
    background-color: #284e67

    .team-userinfo
      color: #f7f7f7 !important*/

  .team-userlink
    display: inline-block
    text-decoration: none
    width: 100%

    &:hover
      text-decoration: none

    .team-userimage-div
      max-height: 145px
      overflow: hidden
      transition: all 0.2s

      .team-userimage
        width: 100%
        height: 100%
        border-radius: 0 1px 7px

    .team-userrole
      text-align: center
      font-size: 8pt
      color: #777
      padding: 0 4px

    .team-userinfo
      color: #000000
      padding: 6px 6px 5px 6px
      text-align: center
      transition: all 0.2s

.team-add-user
  *
    vertical-align: middle

  .form-control
    display: inline-block
    height: auto
    width: auto
    font-size: 100%

  .btn
    height: auto


#usertable
  border: 1px solid #ddd

  td, th
    background-color: #fff
    vertical-align: middle

  .team-table-color
    width: 20px
    height: 20px

.team-add-table
  label
    margin-top: 8px