#timetable

  border: 1px solid #ddd

  td, th
    background-color: #fff

  .ruilrequest-2, .ruilrequest-1
    text-decoration: line-through

  .current-user.ruilrequest-1
    text-decoration: none

  .current-user
    font-weight: bold