
.timetable-gear-link
  margin-left: 4px
  padding: 3px 2px 3px 7px

  i
    cursor: pointer
    transition: all 0.2s

    &:hover
      color: #337ab7
      transform: rotate(45deg)


#timetable

  border: 1px solid #ddd

  td, th
    background-color: #fff

  .table-odd
    td
      background-color: #f6f6f6

  .duty-responsible, .duty-date, .duty-title, .duty-tools
    white-space: nowrap

  .duty-tools
    text-align: right

  .ruil_requested
    text-decoration: line-through

  .current-user
    font-weight: bold

  .timetable-ruilen i
    font-size: 10pt

  .timetable-undo-ruilen i
    font-size: 11pt

.nav-tabs
  li
    margin-right: 2px

    a
      margin-right: 0px

    .dropdown-menu
      min-width: 100%

  .nav-item-fillup, .dropdown-menu li a
    padding: 6px 15px 6px 20px
    font-weight: 400
    font-size: 14pt
    color: #333
